{% extends 'public/base.html' %}
{% load crispy_forms_tags i18n velomath %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/{{ form.get_app_label }}_form.js"></script>
    {{ form.media.js }}
    {% for inline in inlines %}
        {{ inline.media.js }}
    {% endfor %}
{% endblock js %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
    {% for inline in inlines %}
        {{ inline.media.css }}
    {% endfor %}
{% endblock css %}

{% block main %}

    {% include 'registration/application_header.html' with active=2 %}

    {% if object.payment_status == object.PAY_STATUS.payed %}
        <p class="lead">Paldies, maksājums ir saņemts.</p>
    {% else %}

<form method="post">
    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans 'Participants' %}</h3>
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Full Name' %}</th>
                    <th>{% trans 'Birthday' %}</th>
                    <th>{% trans 'Team Name' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Insurance' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
            </thead>
            {% for participant in participants %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ participant.full_name }}</td>
                    <td>{{ participant.birthday|date:"Y-m-d" }}</td>
                    <td>{{ participant.team_name }}</td>
                {% with price=participant.price|getParticipationFeePrice:participant.competition insurance=participant.insurance|getInsurancePrice:participant.competition %}
                    <td>{{ price }} €</td>
                    <td>{% if insurance %}{{ insurance }} €{% else %}-{% endif %}</td>
                    <td>{% if insurance %}{{ price|addfloat:insurance }}{% else %}{{ price }}{% endif %} €</td>
                {% endwith %}
                </tr>
            {% endfor %}

            {% if object.payment_status == object.PAY_STATUS.not_payed %}
                <tfoot>
                    <tr>
                        <td colspan="3"><a href="{% url 'application' object.code %}" class="btn btn-default btn-block">{% trans 'Add or Update Participants' %}</a></td>
                        <td class="text-right"><b>{% trans 'Total' %}</b></td>
                        <td><b>{{ total_entry_fee|floatformat:2 }} €</b></td>
                        <td><b>{{ total_insurance_fee|floatformat:2 }} €</b></td>
                        <td><b>{{ total_entry_fee|addfloat:total_insurance_fee }} €</b></td>
                    </tr>
                </tfoot>
            {% endif %}
            </table>
            </div>
            {% if donation %}

            <div class="row">
                <div class="col-lg-offset-3 col-lg-7 col-sm-9 col-xs-6 text-right">
                    <label for="donation-amount">Ziedot {{ donation.title }}:</label>
                    {% if donation.description %}
                            <p class="hidden-xs">{{ donation.description }}</p>
                    {% endif %}
                    </div>
                <div class="col-lg-2 col-sm-3 col-xs-6">
                    {% if not object.external_invoice_code %}
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">€</span>
                          <input id='id_donation' type="number" step="5" class="form-control" aria-label="Donation amount" name="donation" placeholder="--" value="{{ form.donation.value|floatformat:-2|safe }}">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right text-right" role="menu" style="min-width: inherit;">
                                {% for amount in donation.amount %}
                              <li><a href="#" onclick="$('#id_donation').val({{ amount }}).change();return false;">{{ amount }} €</a></li>
                                {% endfor %}
                              <li><a href="#" onclick="$('#id_donation').val('').change().focus();return false;">{% trans 'Other' %}</a></li>
                            </ul>
                          </div>
                        </div>
                        {% else %}
                            <b>{{ object.donation }} €</b>
                        {% endif %}
                </div>
            </div>
            <div class="row hidden-sm hidden-md hidden-lg">
                {% if donation.description %}
                        <div class="col-xs-12">{{ donation.description }}</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    {% crispy form %}


    <input type="submit" name="pay" value="{% trans 'Pay' %}" class="btn btn-primary" />


</form>

    {% endif %}

{% endblock %}
