{% extends 'public/base.html' %}
{% load crispy_forms_tags i18n %}


{% block main %}

    {% include 'registration/application_header.html' with active=3 %}

    <div class="row">
            <div class="col-xs-12">
                <p class="lead">Paldies, ka pieteicāties sacensībām!</p>
                {% if object.payment_status == object.PAY_STATUS_PAYED %}
                    <p>Dalībniekiem ir tuvāko 10 minūšu laikā ir jāparādās starta sarakstā.</p>
                {% endif %}
                <div class="row margin-bottom-40"></div>
                <div class="row">
                    <div class="col-xs-4">
                        {% if object.external_invoice_code %}
                            <a class="btn btn-default" href="https://www.e-rekins.lv/d/i/{{ object.external_invoice_code }}/">Lejupielādēt rēķinu nr.{{ object.external_invoice_nr }}</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        {% if object.external_invoice_code and not object.payment_status == object.PAY_STATUS_PAYED %}
                            <a class="btn btn-default" href="{% url "application_pay" object.code %}">Veikt rēķina apmaksu ar karti</a>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                            <a class="btn btn-primary" href="{% url "application" object.code %}">Labot dalībnieku kontaktinformāciju</a>
                    </div>
                </div>
            </div>

    </div>

{% endblock %}