{% extends 'public/table.html' %}
{% load django_tables2 i18n cache %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('th.selection').on('click', function() {
                $('tr td:nth-child(1) input[type=checkbox]', $(this).parents('table')).prop("checked", $(this).prop('checked'));
            });
        });

    </script>

{% endblock js %}




{% block main %}
        {% spaceless %}
            <form method="post">
            <a href="{% url 'companyapplication_edit' companyapplication.code %}" class="btn btn-default pull-right">{% trans 'Edit' %}</a>
            <div class="row">
                <div class="col-xs-12">
                    <dl class="dl-horizontal">
                      <dt>{% trans 'Competition' %}:</dt>
                      <dd>{{ companyapplication.competition.get_full_name }}</dd>
                      <dt>{% trans 'Team Name' %}:</dt>
                      <dd>{{ companyapplication.team_name }}</dd>
                      <dt>{% trans 'Email' %}:</dt>
                      <dd>{{ companyapplication.email }}</dd>
                      <dt>{% trans 'Description' %}:</dt>
                      <dd>{% firstof companyapplication.description '-' %}</dd>
                      <dt>{% trans 'Public URL' %}:</dt>
                      <dd>
                          <a href="https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}">https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}</a>
                      </dd>
                    </dl>
                <h4>{% trans 'Company riders' %}:</h4>
                </div>
            </div>


            {% csrf_token %}
            {{ block.super }}



            <div class="row">
            {% if companyapplication.status == 1 %}
                <div class="col-xs-6">
                    <a href="{% url 'companyapplication_add' companyapplication.code %}" class="btn btn-success margin-bottom-40">{% trans 'Add participant' %}</a>
                </div>

                <div class="col-xs-6">
                    <div class="btn-group pull-right" role="group" aria-label="Button group">
                        {% if distance_choices %}
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {% trans 'Team' %} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="$('.new-team').show();$('.add-to-team').hide();return false;">{% trans 'New Team' %}</a></li>
                              {% if my_teams %}
                            <li><a href="#" onclick="$('.new-team').hide();$('.add-to-team').show();return false;">{% trans 'Add to existing team' %}</a></li>
                              {% endif %}
                          </ul>
                        </div>
                        {% endif %}
                        <button type="submit" name="action" value="pay" class="btn btn-primary">{% trans 'Pay for selected' %}</button>
                    </div>

                </div>

            {% endif %}
            </div>

            {% if distance_choices %}
            <div class="row new-team" style="display:none">
                <div class="col-xs-6 pull-right">
                    <h4>{% trans 'Create new team' %}:</h4>
                    <div id="div_id_distance" class="form-group">
                        <label for="id_distance" class="control-label  requiredField">
				            {% trans 'Distance' %}<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                            <select class="select form-control" id="id_distance" name="distance">
                                <option value="">------</option>
                                {% for k, v in distance_choices %}
                                <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="div_id_title" class="form-group">
                        <label for="id_title" class="control-label  requiredField">
				            {% trans 'Title' %}<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                            <input class="textinput textInput form-control" id="id_title" maxlength="100" name="title" type="text" value="{{ companyapplication.team_name|force_escape }}">
                        </div>
                    </div>
                    <button type="submit" name="action" value="create_team" class="btn btn-primary">{% trans 'Create team' %}</button>
                </div>
            </div>
            {% if my_teams %}
            <div class="row add-to-team" style="display:none">
                <div class="col-xs-6 pull-right">
                    <h4>{% trans 'Add to existing team' %}:</h4>
                    <div id="div_id_distance" class="form-group">
                        <label for="id_team" class="control-label  requiredField">
				            {% trans 'Team' %}<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                            <select class="select form-control" id="id_team" name="team">
                                <option value="">------</option>
                                {% for t in my_teams %}
                                <option value="{{ t.id }}">{{ t }} - {{ t.distance }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button type="submit" name="action" value="add_to_team" class="btn btn-primary">{% trans 'Add to Team' %}</button>
                </div>
            </div>
            {% endif %}

            {% endif %}
</form>


        {% endspaceless %}
{% endblock %}