# Created by http://gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Django ###
*.log
*.pot
*.pyc
__pycache__/

# C extensions
*.so

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Linux ###
*~

# KDE directory preferences
.directory

project/static
project/celery.db
install
.idea
*.py[cod]

/.vagrant/
project/medias
project/media

project/gallery/client_secrets.json
project/gallery/youtube-oauth2.json
other/Unify-v1.8
velolv_env.sh
