MySQL-python==1.2.5
django==1.8.3
psycopg2>=2.6
Unipath==1.1
Pillow==2.8.1
django-crispy-forms==1.4.0
cryptography==0.9
pyOpenSSL==0.15.1 # for requests to support SNI
ndg-httpsclient==0.4.0 # for requests to support SNI
pyasn1==0.1.7 # for requests to support SNI
requests==2.7.0
django-mptt==0.7.4
celery==3.1.18
django-celery==3.1.16
django-countries==3.3
django_tables2==1.0.4
django-tables2-reports==0.0.10
django-extra-views==0.6.5
Django-Select2==4.3.1
django-sitetree==1.4.0
django-admin-honeypot==0.4.0
django-rosetta==0.7.6
fabric==1.10.1
docker-fabric==0.3.5
django-braces==1.8.0
python-social-auth==0.2.10
django-jsonfield==0.9.13
django-grappelli==2.6.5
easy-thumbnails==2.2
xlwt==1.00
reportlab==3.2.0
python-memcached==1.54
pwgen==0.4
premailer==2.9.0
django-redactoreditor==1.2.10
django-impersonate>=0.9
PyYAML==3.11
django-mailgun==0.2.2
pyinotify==0.9.5
raven==5.3.1
django-filter==0.10.0
PyVimeo==0.3.0
django-downloadview==1.6
beautifulsoup4==4.3.2
hashids==1.1.0
django-shorturls==1.1.0
google-api-python-client
ipython
django-extensions
django-debug-toolbar
django-debug-toolbar-template-timings
django-debug-panel