wheel
MySQL-python==1.2.5
django==1.6.10  # next step - upgrade to 1.7
psycopg2>=2.6
South==1.0.2
Unipath==1.0
Pillow==2.7.0
django-crispy-forms==1.4.0
pyOpenSSL==0.14 # for requests to support SNI
ndg-httpsclient==0.3.3 # for requests to support SNI
pyasn1==0.1.7 # for requests to support SNI
requests==2.5.1
django-mptt==0.6.1
celery==3.1.17
django-celery==3.1.16
django-countries==3.1.1
django_tables2==0.15.0
django-tables2-reports==0.0.10
django-extra-views==0.6.5
Django-Select2==4.2.2
django-sitetree==1.2.1
django-admin-honeypot==0.4.0
django-rosetta==0.7.5
fabric==1.10.1
docker-fabric==0.3.1
django-braces==1.4.0
python-social-auth==0.2.1
django-jsonfield==0.9.13
django-grappelli==2.6.3
easy-thumbnails==2.2
xlwt==0.7.5
reportlab==3.1.44
python-memcached==1.53
django-save-the-change==1.1.0
pwgen==0.4
premailer==2.8.1
django-redactoreditor==1.2.10
django-auth-policy==0.9.7
django-impersonate>=0.9
PyYAML==3.11
django-mailgun==0.2.2
django-ssl-slapper==1.1
pyinotify==0.9.5
django-sekizai==0.8.1
raven==5.2.0

ipython
django-extensions
django-debug-toolbar
django-debug-panel