
    <div class="w100 border-bottom">
        <div class="inner">
            <h2 class="heading fs21 border-left flex wrap--nowrap direction--row justify--start align-items--center">
                <a href="" class="heading__link">
                Apģērbi un suvenīri
                <svg class="icon left-margin--20">
                    <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                </svg>
                </a>
            </h2>
        </div>
    </div>
<div class="w100">
        <div class="inner">
            <div class="w100 border-right border-left no-border--480">
                <div class="w100 bottom-margin--20"></div>
                <div class="w100">
                    <div class="inner no-padding--480">
                        <div class="row row--gutters-20">
                            <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                <a href="" class="brief border-top border-right border-bottom border-left bottom-margin--20">
                                    <div class="w100">
                                    <figure class="brief__hero brief-hover-layer img-wrapper loaded">
                                        <img onload="imgLoaded(this)" src="/userfiles/1by1.jpg">
                                        <div class="brief-hover-top-layer brief-hover-top-layer--hero">
                                            <div class="table">
                                                <div class="table-cell text-align--center">
                                                    <div class="brief__hover-item">Pirkt</div>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                        </div>
                                    <div class="brief__info brief-hover-layer">
                                        <div class="brief-hover-top-layer">
                                            <div class="flex--1">
                                                <div class="brief__heading bottom-margin--20">product name test test test</div>
                                            </div>
                                            <div class="brief__text bottom-margin--10"><i class="fw700 italic"><span class="fs22">5999,99</span>&nbsp;&nbsp;EUR</i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                <a href="" class="brief border-top border-right border-bottom border-left bottom-margin--20">
                                    <div class="w100">
                                    <figure class="brief__hero brief-hover-layer img-wrapper loaded">
                                        <img onload="imgLoaded(this)" src="/userfiles/1by1.jpg">
                                        <div class="brief-hover-top-layer brief-hover-top-layer--hero">
                                            <div class="table">
                                                <div class="table-cell text-align--center">
                                                    <div class="brief__hover-item">Pirkt</div>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                        </div>
                                    <div class="brief__info brief-hover-layer">
                                        <div class="brief-hover-top-layer">
                                            <div class="flex--1">
                                                <div class="brief__heading bottom-margin--20">product name</div>
                                            </div>
                                            <div class="brief__text bottom-margin--10"><i class="fw700 italic"><span class="fs22">15999,99</span>&nbsp;&nbsp;EUR</i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                <a href="" class="brief border-top border-right border-bottom border-left bottom-margin--20">
                                    <div class="w100">
                                    <figure class="brief__hero brief-hover-layer img-wrapper loaded">
                                        <img onload="imgLoaded(this)" src="/userfiles/1by1.jpg">
                                        <div class="brief-hover-top-layer brief-hover-top-layer--hero">
                                            <div class="table">
                                                <div class="table-cell text-align--center">
                                                    <div class="brief__hover-item">Pirkt</div>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                        </div>
                                    <div class="brief__info brief-hover-layer">
                                        <div class="brief-hover-top-layer">
                                            <div class="flex--1">
                                                <div class="brief__heading bottom-margin--20">product name</div>
                                            </div>
                                            <div class="brief__text bottom-margin--10"><i class="fw700 italic"><span class="fs22">5999,99</span>&nbsp;&nbsp;EUR</i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                <a href="" class="brief border-top border-right border-bottom border-left bottom-margin--20">
                                    <div class="w100">
                                    <figure class="brief__hero brief-hover-layer img-wrapper loaded">
                                        <img onload="imgLoaded(this)" src="/userfiles/1by1.jpg">
                                        <div class="brief-hover-top-layer brief-hover-top-layer--hero">
                                            <div class="table">
                                                <div class="table-cell text-align--center">
                                                    <div class="brief__hover-item">Pirkt</div>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                        </div>
                                    <div class="brief__info brief-hover-layer">
                                        <div class="brief-hover-top-layer">
                                            <div class="flex--1">
                                                <div class="brief__heading bottom-margin--20">product name</div>
                                            </div>
                                            <div class="brief__text bottom-margin--10"><i class="fw700 italic"><span class="fs22">5999,99</span>&nbsp;&nbsp;EUR</i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
