{% extends "base.html" %}
{% load staticfiles i18n sitetree crispy_forms_tags form_helper %}

{% block js %}
{{ block.super }}
{% if insurance_company %}

<section class="modal--show" id="modal-insurance-{{ insurance_company.id }}" tabindex="-1"
        role="dialog" aria-labelledby="modal-label" aria-hidden="true">

    <div class="modal-inner">
        <header id="modal-label">{{ insurance_company }}</header>
        <div class="modal-content">{{ insurance_company.description|safe }}</div>
        <footer><!-- Footer --></footer>
    </div>

    <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">?</a>
</section>
{% endif %}



  <section class="modal--show" id="modal-rock-d-azur" tabindex="-1"
        role="dialog" aria-labelledby="modal-label" aria-hidden="true">

      <div class="modal-inner">
        <header id="modal-label">Isostar piedāvā iespēju braukt uz lielāko pasaules kalnu riteņbraukšanas festivālu.</header>
        <div class="modal-content">
          <p style="text-align:center;"><img src="https://velo.lv/media/supporter/09_9d636eef-4503-4354-bf2a-329c2a0eb900.png" alt=""></p>
          <p>SEB MTB maratona partneris  - kompānija “Isostar” piedāvā unikālu akciju.</p>
          <p>Starp visiem dalībniekiem, kuri mājaslapā velo.lv reģistrēsies SEB MTB maratona posmiem (vismaz vienam), tiks izlozēti  5 laimīgie , kuri saņems bezmaksas dalību prestižajā un vērienīgajā MTB festivālā “Roc d Azur”, kas notiks 2018. gada 11. novembrī.</p>
          <p>Izloze notiks SEB MTB maratona piektajā posmā.</p>

          <p>Vai Tevi interesētu bezmaksas dalība lielākajā pasaules kalnu riteņbraukšanas festivālā “Roc d'Azur”?</p>
          <p>Piesakies un laimē!</p>

          <p style="text-align:center;"><img src="https://medias.aso.fr/epreuvedemasse/img-rocdazur-jpg/roc-azur-logo-q-jpg/0369/17:0,1984:1311-300-0-70/23d04" alt=""></p>

        </div>
        <footer><!-- Footer --></footer>
    </div>


    <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">?</a>
</section>
  <section class="modal--show" id="modal-tshirt-size" tabindex="-1"
        role="dialog" aria-labelledby="modal-label" aria-hidden="true">

      <div class="modal-inner">
        <header id="modal-label">T-krekls</header>
        <div class="modal-content">
          <p style="text-align:center;"><img src="https://velo.lv/media/uploads/VB_krekls.jpg" alt="" style="width:100%;"></p>
          <p>Labi krekli, dažādi izmēri👍</p>
          <p>Krekla dizains un apraksts sekos vēlāk</p>

        </div>
        <footer><!-- Footer --></footer>
    </div>


    <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">?</a>
</section>



{% endblock js %}


{% block content %}

    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left no-border--560">
                <div class="inner no-padding--560">
                    <div class="row">
                        <div class="col-xl-2 col-s-24"></div>
                        <div class="col-xl-20 col-s-24">
                            <h1 class="heading w100 border-right border-left no-border--560 fs30">
                                {% trans "Apply for competition" %}<br/>{{ object.competition.get_full_name }}
                            </h1>
                            {% include "registration/_top_steps.html" with active=1 %}

                            <form method="post" class="w100 js-form-participants" novalidate="novalidate"
                                  data-team-search="{% url 'competition:teams_json' object.competition_id %}"
                                  data-team-search-term="{% url 'competition:teams_json' object.competition_id %}?search=%QUERY"
                                  data-check-price="{% url "payment:check_price"  object.competition_id %}"
                                  data-autocomplete="{% url "competition:participant_search"  %}">
                                {% csrf_token %}
                                <div class="w100 border-right border-left no-border--560">

                                    <div class="row">
                                        <div class="col-xl-2 col-s-24"></div>
                                        <div class="col-xl-20 col-s-24">
                                            <div class="inner no-padding--560">
                                                <div class="w100 bottom-margin--40"></div>
                                                <div class="w100">
                                                    <div class="row row--gutters-20">
                                                        <div class="col-xl-12 col-m-24">
                                                            <div class="input-wrap w100 bottom-margin--15">
                                                                <label
                                                                        for="id_email"
                                                                        class="input-field-label  js-placeholder"
                                                                >{% trans "E-mail" %} *</label>
                                                                {{ form.email|add_extra_classes }}
                                                                {% if form.email.help_text or form.email.errors %}
                                                                    <p id="{{ form.email.auto_id }}-error"
                                                                       class="error">
                                                                        {% for error in form.email.errors %}
                                                                            {{ error }}{% empty %}
                                                                            {{ form.email.help_text }}{% endfor %}</p>
                                                                {% endif %}
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-12 col-m-24">
                                                            <div class="input-wrap w100 bottom-margin--15">
                                                                <label
                                                                        for="id_email2"
                                                                        class="input-field-label  js-placeholder"
                                                                >{% trans "E-mail Confirmation" %} *</label>
                                                                {{ form.email2|add_extra_classes }}
                                                                {% if form.email2.help_text or form.email2.errors %}
                                                                    <p id="{{ form.email2.auto_id }}-error"
                                                                       class="error">
                                                                        {% for error in form.email2.errors %}
                                                                            {{ error }}{% empty %}
                                                                            {{ form.email2.help_text }}{% endfor %}</p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-12 col-m-24">
                                                            <div class="fs13 c-white--50 w100 bottom-margin--15">{% trans "To this email address confirmation email will be sent." %}</div>
                                                        </div>

                                                        <div class="col-xl-12 col-m-24">
                                                            {% include "wd_forms/new/checkbox.html" with field=form.can_send_newsletters %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-s-24"></div>
                                        <div class="layouts-competition-register-background col-xl-24">
                                            <div class="w100">
                                                <div class="inner no-padding--560">
                                                    <div class="row">
                                                        <div class="col-xl-24">
                                                            {% crispy participant participant.form.helper %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% if not object.competition.is_past_due %}
                                        <div class="col-xl-24 border-top border-bottom">
                                            <div class="row">
                                                <div class="col-xl-15 col-m-14 col-s-24"></div>
                                                <div class="col-xl-9 col-m-10 col-s-24">
                                                    <button type="submit"
                                                            class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100">
                                                        <div class="btn__flex">
                                                            {% if object.payment_status == object.PAY_STATUS.payed %}
                                                                {% trans "Save" %}
                                                            {% else %}
                                                                {% trans "Save & Pay" %}
                                                            {% endif %}
                                                            <svg class="left-margin--15 icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                            </svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="col-xl-24">
                                            <div class="w100 bottom-margin--20"></div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
