{% extends "base.html" %}
{% load staticfiles i18n sitetree crispy_forms_tags velomath %}

{% block content %}



    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left no-border--560">
                <div class="inner no-padding--560">
                    <div class="row">
                        <div class="col-xl-2 col-s-24"></div>
                        <div class="col-xl-20 col-s-24">
                            <h1 class="heading w100 border-right border-left no-border--560 fs30">
                                {% trans "Apply for competition" %}<br/>{{ object.competition.get_full_name }}
                            </h1>
                            {% include "registration/_top_steps.html" with active=3 %}


                            <div class="w100 border-right border-left no-border--480 flex--1 flex direction--column justify--center align-items--center">
                                <div class="inner no-padding--480">
                                    <div class="row">
                                        <div class="col-xl-7 col-l-6 col-m-4 col-s-24"></div>
                                        <div class="col-xl-10 col-l-12 col-m-16 col-s-24">
                                            <div class="w100 bottom-margin--50"></div>
                                            <div class="fs30 fw700 uppercase w100 text-align--center bottom-margin--30">{% trans "Registration successful" %}</div>
                                            <div class="fs70 c-yellow w100 text-align--center bottom-margin--15">
                                                <svg class="icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#velo"></use>
                                                </svg>
                                            </div>
                                            <div class="fs14 fw700 lh15 uppercase c-yellow w100 text-align--center bottom-margin--30">{% trans "Thank you for applying!" %}</div>
                                            <div class="fs14 fw700 lh15 uppercase c-white w100 text-align--center bottom-margin--20">{% trans "You will receive email with confirmation that you have successfuly applied." %}</div>


                                            <div class="w100 bottom-margin--20">
                                                <div class="row row--gutters-50">
                                                    {% if object.invoice %}
                                                        <a href="/payment/invoice/{{ object.invoice.slug }}/" class="col-xl-24" download>
                                                            <div class="btn btn--50 btn--blue btn--blue-hover btn--blue-active btn--no-borders w100 bottom-margin--20">
                                                                {% trans "To download invoice, press here." %}
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                    {% if object.invoice and not object.payment_status == object.PAY_STATUS.payed %}
                                                        <a href="{% url "application_pay" object.code %}"
                                                           class="col-xl-24">
                                                            <div class="btn btn--50 btn--blue btn--blue-hover btn--blue-active btn--no-borders w100 bottom-margin--20">
                                                                {% trans "Pay with Creditcard" %}
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{% url "application" object.code %}" class="col-xl-24">
                                                        <div class="btn btn--50 btn--blue btn--blue-hover btn--blue-active btn--no-borders w100 bottom-margin--20">
                                                            {% trans "Update participant contact information" %}
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
