{% extends "base.html" %}
{% load staticfiles i18n sitetree crispy_forms_tags %}

{% block content %}



    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left no-border--560">
                <div class="inner no-padding--560">
                    <div class="row">
                        <div class="col-xl-2 col-s-24"></div>
                        <div class="col-xl-20 col-s-24">
                            <h1 class="heading w100 border-right border-left no-border--560 fs30">
                                {% trans "Apply for competition" %}<br/>{{ object.competition.get_full_name }}
                            </h1>
                            {% include "registration/_top_steps.html" with active=1 %}



                            {% crispy form %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
