{% extends "base.html" %}
{% load staticfiles i18n sitetree django_tables2 crispy_forms_tags form_helper %}


{% block content %}
    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left flex direction--column">
                {% if request.user.is_authenticated %}
                    <h1 class="heading w100 border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                        <span class="w100">{% trans "My Profile" %}</span>
                        <span class="w100 c-yellow">{{ user.email }}</span>
                    </h1>
                {% endif %}
                <form method="post" class="w100 js-form-participants"
                      data-team-search="{% url 'competition:teams_json' object.competition_id %}"
                      data-team-search-term="{% url 'competition:teams_json' object.competition_id %}?search=%QUERY"
                      data-check-price="{% url "payment:check_price"  object.competition_id %}"
                      novalidate="novalidate" >
                    {% csrf_token %}
                    <div class="w100 bgc-dgray">
                        <div class="row">
                            <div class="w100">
                                <div class="row border-bottom">
                                    <div class="col-xl-18 col-m-16">
                                        <p class="heading heading--smaller w100 fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                                            <span class="w100">{% trans "Add Company Team Member" %}<br/>{{ object.competition.get_full_name }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="w100">
                                <div class="inner layouts-company-aplication-info-inner">
                                    <div class="w100 bottom-margin--20"></div>
                                    <div class="invisible-table w100 bottom-margin--20">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>{% trans "Competition" %}:</td>
                                                <td>{{ companyapplication.competition.get_full_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans "Team Name" %}:</td>
                                                <td>{{ companyapplication.team_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Email' %}:</td>
                                                <td>{{ companyapplication.email }}</td>
                                            </tr>

                                            <tr>
                                                <td>{% trans 'Public URL' %}:</td>
                                                <td><a href="https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}">https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Description' %}:</td>
                                                <td>{% firstof companyapplication.description '-' %}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="layouts-competition-register-background col-xl-24">
                                <div class="w100">
                                    <div class="inner no-padding--560">
                                        <div class="row">
                                            <div class="col-xl-24">
                                                {% crispy participant participant.form.helper %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-24 border-top border-bottom">
                                <div class="row">
                                    <div class="col-xl-15 col-m-14 col-s-24"></div>
                                    <div class="col-xl-9 col-m-10 col-s-24">
                                        <button type="submit"
                                                class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100">
                                            <div class="btn__flex">
                                                {% trans "Save" %}
                                                <svg class="left-margin--15 icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}




{% block content55 %}

    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left no-border--560">
                <div class="inner no-padding--560">
                    <div class="row">
                        <div class="col-xl-2 col-s-24"></div>
                        <div class="col-xl-20 col-s-24">
                            <h1 class="heading w100 border-right border-left no-border--560 fs30">
                                {% trans "Add Company Team Member" %}<br/>{{ object.competition.get_full_name }}
                            </h1>


                            <form method="post" class="w100 js-form-participants"
                                  data-team-search="{% url 'competition:teams_json' object.competition_id %}"
                                  data-team-search-term="{% url 'competition:teams_json' object.competition_id %}?search=%QUERY"
                                  data-check-price="{% url "payment:check_price"  object.competition_id %}">
                                {% csrf_token %}
                                <div class="w100 border-right border-left no-border--560">

                                    <div class="row">
                                        <div class="col-xl-2 col-s-24"></div>
                                        <div class="col-xl-20 col-s-24">

                                            <dl class="dl-horizontal">
                                                <dt>{% trans 'Competition' %}:</dt>
                                                <dd>{{ companyapplication.competition.get_full_name }}</dd>
                                                <dt>{% trans 'Team Name' %}:</dt>
                                                <dd>{{ companyapplication.team_name }}</dd>
                                                <dt>{% trans 'Email' %}:</dt>
                                                <dd>{{ companyapplication.email }}</dd>
                                                <dt>{% trans 'Description' %}:</dt>
                                                <dd>{% firstof companyapplication.description '-' %}</dd>
                                                <dt>{% trans 'Public URL' %}:</dt>
                                                <dd><a href="https://



                                                        {{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}">https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}</a>
                                                </dd>
                                            </dl>


                                        </div>
                                        <div class="col-xl-2 col-s-24"></div>
                                        <div class="layouts-competition-register-background col-xl-24">
                                            <div class="w100">
                                                <div class="inner no-padding--560">
                                                    <div class="row">
                                                        <div class="col-xl-24">
                                                            {% crispy participant participant.form.helper %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xl-24 border-top border-bottom">
                                            <div class="row">
                                                <div class="col-xl-15 col-m-14 col-s-24"></div>
                                                <div class="col-xl-9 col-m-10 col-s-24">
                                                    <button type="submit"
                                                            class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100">
                                                        <div class="btn__flex">
                                                            {% trans "Save & Pay" %}
                                                            <svg class="left-margin--15 icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                            </svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-24">
                                            <div class="w100 bottom-margin--20"></div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
