{% extends "base.html" %}
{% load staticfiles i18n sitetree django_tables2 %}

{% block content %}
    <form method="post">
        <div class="w100 flex">
            <div class="inner flex">
                <div class="w100 border-right border-left flex direction--column">
                    <h1 class="heading w100 border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                        <span class="w100">{% trans "My Profile" %}</span>
                        <span class="w100 c-yellow">{{ user.email }}</span>
                    </h1>


                    <div class="w100 bgc-dgray">
                        <div class="w100">
                            <div class="row border-bottom">
                                <div class="col-xl-18 col-m-16">
                                    <p class="heading heading--smaller w100 fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                                        <span class="w100">{% trans "Company Application" %}</span>
                                    </p>
                                </div>
                                <div class="col-xl-6 col-m-8 border-left">
                                    <a href="{% url 'companyapplication_edit' companyapplication.code %}"
                                       class="btn btn--50 btn--white-transparent btn--no-borders">{% trans "Edit" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="w100">
                            <div class="inner layouts-company-aplication-info-inner">
                                <div class="w100 bottom-margin--20"></div>
                                <div class="invisible-table w100 bottom-margin--20 uppercase">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>{% trans "Competition" %}:</td>
                                            <td>{{ companyapplication.competition.get_full_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans "Team Name" %}:</td>
                                            <td>{{ companyapplication.team_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Email' %}:</td>
                                            <td>{{ companyapplication.email }}</td>
                                        </tr>

                                        <tr>
                                            <td>{% trans 'Public URL' %}:</td>
                                            <td><a href="https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}">https://{{ request.get_host }}{% url 'companyapplication_add' companyapplication.code %}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Description' %}:</td>
                                            <td>{% firstof companyapplication.description '-' %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <h2 class="heading heading--smaller w100 border-top border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                            <span class="w100">{% trans 'Company riders' %}</span>
                        </h2>
                        <div class="w100 overflow--auto border-bottom bottom-margin--20">

                            {% csrf_token %}
                            {% render_table table %}

                        </div>
                        <div class="w100">
                            <div class="inner">
                                <div class="w100 cursor--pointer bottom-margin--20">
                                    <a href="{% url 'companyapplication_add' companyapplication.code %}">
                                        <div class="participant__head flex wrap--nowrap direction--row justify--start align-items--center c-yellow">
                                            <div class="participant__number">
                                                <svg class="icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#plus"></use>
                                                </svg>
                                            </div>
                                            <div class="participant__name flex--1">{% trans 'Add participant' %}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="w100 border-top">
                            <div class="w100 bottom-margin--20"></div>
                            <div class="w100">
                                <div class="inner">
                                    <div class="row row--gutters-20">
                                        <div class="col-xl-10 col-m-24"></div>


                                        {% if companyapplication.status == 1 %}


                                            {% if distance_choices %}

                                                <div class="col-xl-7 col-m-12 col-s-24">
                                                    <div class="dropdown border-left border-bottom border-right border-top bottom-margin--20">
                                                        <div class="dropdown__selected">
                                                            <div class="btn btn--50 btn--white-transparent btn--blue-hover btn--blue-active btn--no-borders">
                                                                <div class="btn__flex">
                                                                    {% trans 'Team' %}
                                                                    <svg class="icon fs10">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#triangle"></use>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="dropdown__items bgc-dblue border-top">


                                                            <li class="dropdown__item border-bottom border-right border-left">
                                                                <a href="#"
                                                                   onclick="$('.new-team').show();$('.add-to-team').hide();return false;"
                                                                   class="btn btn--50 btn--white-transparent btn--blue-hover btn--blue-active btn--no-borders">
                                                                    <div class="btn__flex">
                                                                        {% trans 'New Team' %}
                                                                        <svg class="icon fs10">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            {% if my_teams %}
                                                                <li class="dropdown__item border-bottom border-right border-left">
                                                                    <a href="#"
                                                                       onclick="$('.new-team').hide();$('.add-to-team').show();return false;"
                                                                       class="btn btn--50 btn--white-transparent
                                                                    btn--blue-hover btn--blue-active btn--no-borders">
                                                                        <div class="btn__flex">
                                                                            {% trans 'Add to existing team' %}
                                                                            <svg class="icon fs10">
                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                     xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>

                                            {% endif %}




                                            {% if payable_competitions %}


                                                <div class="col-xl-7 col-m-12 col-s-24">
                                                    <input type="hidden" id="pay_for" name="pay_for" value=""/>

                                                    {% if payable_competitions.count == 1 %}

                                                        <button type="submit" name="pay_for"
                                                                value="{{ payable_competitions.0.id }}"
                                                                class="competition_pay_button btn btn--50 btn--white-transparent btn--blue-hover btn--blue-active border-left border-bottom border-right border-top">
                                                            <div class="btn__flex">
                                                                {% trans 'Pay for selected' %}
                                                                {% if payable_competitions.0.level == 2 %} (
                                                                    {{ payable_competitions.0 }}) {% endif %}
                                                                <svg class="icon fs10">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                         xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                                </svg>
                                                            </div>
                                                        </button>


                                                    {% else %}

                                                        <div class="dropdown border-left border-bottom border-right border-top bottom-margin--20">
                                                            <div class="dropdown__selected">
                                                                <div class="btn btn--50 btn--white-transparent btn--blue-hover btn--blue-active btn--no-borders">
                                                                    <div class="btn__flex">
                                                                        {% trans 'Pay for selected' %}
                                                                        <svg class="icon fs10">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="/img/icons.svg#triangle"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul class="dropdown__items bgc-dblue border-top">


                                                                {% for comp in payable_competitions %}
                                                                    <li class="dropdown__item border-bottom border-right border-left">
                                                                        <button type="submit" name="pay_for"
                                                                                value="{{ comp.id }}"
                                                                                class="competition_pay_button btn btn--50 btn--white-transparent btn--blue-hover btn--blue-active btn--no-borders">
                                                                            <div class="btn__flex">
                                                                                {{ comp }}
                                                                                <svg class="icon fs10">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                         xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                                                </svg>
                                                                            </div>
                                                                        </button>
                                                                    </li>
                                                                {% endfor %}


                                                            </ul>
                                                        </div>





                                                    {% endif %}


                                                </div>



                                            {% endif %}



                                            {% if distance_choices %}
                                                <div class="new-team" style="display:none">

                                                    <h3>{% trans 'Create new team' %}:</h3>

                                                    <div class="row">
                                                        <div class="col-xl-6 col-s-12">
                                                            <div id="div_id_distance"
                                                                 class="form-group input-wrap w100 bottom-margin--15">
                                                                <label for="id_distance"
                                                                       class="js-placeholder w100 fs13 bottom-margin--10">{% trans "Distance" %}</label>
                                                                <select class="select" id="id_distance" name="distance">
                                                                    <option value="">------</option>
                                                                    {% for k, v in distance_choices %}
                                                                        <option value="{{ k }}">{{ v }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6 col-s-12">
                                                            <div id="div_id_title"
                                                                 class="form-group input-wrap w100 bottom-margin--15">
                                                                <label for="id_title"
                                                                       class="js-placeholder w100 fs13 bottom-margin--10">{% trans 'Title' %}</label>
                                                                <input type="text" name="title"
                                                                       class="input-field if--50 if--dark textinput textInput"
                                                                       value="{{ companyapplication.team_name|force_escape }}"/>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6 col-m-10 col-s-24">
                                                            <button type="submit" name="action" value="create_team"
                                                                    class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100"
                                                                    style="margin-top:22px;">
                                                                {% trans "Create team" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if my_teams %}






                                                    <div class="add-to-team" style="display:none">

                                                        <h3>{% trans 'Add to existing team' %}:</h3>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-s-12">
                                                                <div id="div_id_team"
                                                                     class="form-group input-wrap w100 bottom-margin--15">
                                                                    <label for="id_team"
                                                                           class="js-placeholder w100 fs13 bottom-margin--10">{% trans "Team" %}</label>
                                                                    <select class="select" id="id_team" name="team">
                                                                        <option value="">------</option>
                                                                        {% for t in my_teams %}
                                                                            <option value="{{ t.id }}">{{ t }}
                                                                                - {{ t.distance }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-12 col-m-10 col-s-24">
                                                                <button type="submit" name="action" value="add_to_team"
                                                                        class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100"
                                                                        style="margin-top:22px;">
                                                                    {% trans "Add to Team" %}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                {% endif %}

                                            {% endif %}



                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>

{% endblock %}


