{% extends 'public/base.html' %}
{% load i18n %}
{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">
                {% blocktrans %}Great! You have successfuly added participants to company application.{% endblocktrans %}
            </p>
        <h4>{% trans "What's next?" %}</h4>
        <p>
            {% blocktrans %}
            Company's responsible person (the one who created company application) now see new participants and she must take action so that you appear in start list. Until he/she takes action, you haven't really applied to competition.
            {% endblocktrans %}
        </p>
        </div>

    </div>
{% endblock %}