{% extends "base/email.html" %}
{% block content %}
    <p class="lead">Cien.sacensību dalībnieki!</p>

    <p>Pamatojoties uz silto laiku un domājot par komfortu, organizatori pieņēmuši lēmumu mainīt starta laikus svētdien, 10.augustā Cēsīs notiekošajam SEB MTB maratonam.</p>
    <p>Skandi Motors brauciens sāksies plkst. 11:00.</p>
    <p>Virši–A un Mammadaba distancēs starts tiks dots plkst. 12:00.</p>
    <p>Tikmēr bērni savas sacensības aizvadīs ierastajā laikā - 12:15.</p>
    <p>Papildus informāciju meklējiet <a href="http://www.velo.lv/index.php?option=com_content&view=article&id=619:seb-cesis-2014&catid=172&Itemid=435&lang=lv">www.velo.lv</a></p>

    <br />
    <h2>Jautājumi?</h2>
    <p>Neskaidrību gadījumā sazinieties ar mums: pieteikumi@velo.lv</p>
{% endblock content %}
