{% extends "base/email.html" %}
{% block content %}
    <p class="lead">Apsveicam ar sekmīgu reģistrēšanos 31.Rīgas Velomaratonam, kas notiks šo svētdien, 1.jūnijā 11.novembra Krastmalā!</p>
    <p style="font-size:1.1em;">Vārds, uzvārds: <b>{{object.first_name}} {{object.last_name}}</b><br />
Dzimšanas gads: <b>{{object.birthday.year}}</b><br />
    Distance: <b>{{object.distance}}</b><br />
        {% if number %}
Starta numurs: <b>{{number.number}}</b>
    {% endif %}
    </p>

    <p>Šo vēstuli lūdzam saglabāt, izprintēt un ņemt līdzi uz Rīgas Velomaratona starta vietu 11.novembra Krastmalā.</p>
    <p>Uzrādot šo vēstuli reģistrācijas teltī, Jūs varēsiet saņemt aploksni ar savu starta numuru.</p>
    <p>Lūdzam paņemt no reģistrācijas darbiniekiem instrukciju par pareizu numura piestiprināšanu.</p>
    <p>Papildus informāciju meklējiet <a href="http://www.velo.lv">www.velo.lv</a></p>


<p>Vēlreiz apsveicam ar reģistrēšanos Rīgas Velomaratonam un novēlam veiksmīgu startu!</p>
<p class="lead">Rīga ir mūsu!</p>
<p>Rīgas Velomaratona organizatori</p>
    <br />
    <h2>Jautājumi?</h2>
    <p>Neskaidrību gadījumā sazinieties ar mums: pieteikumi@velo.lv</p>
{% endblock content %}
