{% extends 'public/base.html' %}
{% load thumbnail counter cache %}
{% block title %}{{ title }}{% endblock %}


{% block main %}
    {% cache 60 supporter_competition_supporter_list LANGUAGE_CODE competition %}
    {% spaceless %}

    {% for object in object_list %}
        {% counter start=3 silent=True name=object.support_level assign="supporter_counter" %}
        {% ifchanged object.support_level %}
            {% if forloop.counter0 %}
                </div>
            {% endif %}
            <div class="row margin-bottom-40">
        {% else %}
            {% if supporter_counter|divisibleby:3 %}
                </div>
                <div class="row margin-bottom-40">
            {% endif %}
        {% endifchanged %}

        {% ifchanged object.support_level %}
            <h3>{% firstof object.get_support_level_display "Atbalstītāji" %}</h3>
        {% endifchanged %}

            {% thumbnail object.logo.image 480x360 as logo %}

            <div class="{% if object.support_level > 10 %}col-md-4 col-sm-6{% else %}col-md-2 col-sm-4{% endif %}">
                <div class="thumbnails thumbnail-style">
                    {% if object.label %}<h4>{{ object.label }}</h4>{% endif %}
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            {% if object.supporter.url %}<a class="hover-effect" target="_blank" href="{{ object.supporter.url }}">{% endif %}
                            <img class="img-responsive" style="margin:0 auto;" src="{{ logo.url }}" alt="{{ object.supporter }}" />
                            {% if object.supporter.url %}</a>{% endif %}
                        </div>
                    </div>
                    <div class="caption">
{#                        <h3>{% if object.supporter.url %}<a class="hover-effect" target="_blank" href="{{ object.supporter.url }}">{% endif %}{{ object.supporter }}{% if object.supporter.url %}</a>{% endif %}</h3>#}
                        {{ object.supporter.description|safe }}
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    {{ block.super }}
    {% endspaceless %}
    {% endcache %}
{% endblock %}