<!DOCTYPE html>
{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<!--[if IE 8]> <html lang="{{ LANGUAGE_CODE }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ LANGUAGE_CODE }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <title>Igo Japiņa sporta aģentūra</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Aģentūra ir ar vislielāko pieredzi dažādu velo pasākumu rīkošanā." />
    <meta name="author" content="Igo Japiņa sporta aģentūra" />
    <meta name="keywords" content="bicycle,competition,energy,sport,sports nutrition,Rīgas velomaratons,seb maratons,Vienības brauciens,velosipēdi,sports,sporta uzturs,sacensības,velo sacensības" />

    <!-- Favicon -->
{#    <link rel="shortcut icon" href="favicon.ico">#}

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/header-default.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/footer-v2.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/gh-fork-ribbon.css">

    {% block css %}
    {% endblock %}

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme/blue.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme/custom.css">

    {% if competition.skin %}
        <link rel="stylesheet" href="{{ STATIC_URL }}skins/{{ competition.skin }}/skin.css">
    {% endif %}


    <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript">
        {% for key, value in js_vars.items %}
            var {{ key }} = "{{ value }}";
        {% endfor %}
    </script>

</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T58PCN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T58PCN');</script>
    <!-- End Google Tag Manager -->
{% block github %}
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/Ameriks/velo.lv" class="hidden-xs">Fork me on GitHub</a>
        </div>
    </div>
{% endblock %}
<div class="wrapper" style="background-color: #f7f7f7 !important;">
    <!--=== Header ===-->
   {% block header %}
    <div class="header">
        {% include 'base/base_topbar.html' %}
        {% include 'base/base_mainmenu.html' %}
    </div>
{% endblock %}
    <!--=== End Header ===-->
    {% block breadcrumbs %}{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div class="alert alert-success {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
    {% block content %}
    {% endblock %}

    <!--=== Footer ===-->
    {% block footer %}
    {% include 'base/base_footer.html' %}
    {% endblock %}
    <!--=== End Footer ===-->

    <!--=== End Copyright ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ STATIC_URL }}plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/tabdrop/js/bootstrap-tabdrop.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>


{% block js %}
{% endblock %}

{% block js_social_share %}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=175838825855542";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

<!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}plugins/respond.js"></script>
<![endif]-->
</body>
</html>