{% extends 'public/base.html' %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
    {{ block.super }}
<script src="{{ STATIC_URL }}plugins/jquery.unveil.js"></script>
 <script>

    $(function() {

        $("img").unveil();

    });
</script>
{% endblock %}

{% block main %}
    {% spaceless %}
    <div class="row" id="links">
        {% for object in object_list %}
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <a href="{% url 'gallery:album' object.id %}" title="{{ object.title }}" class="gallery_album">
                    <img src="{% if forloop.counter < 20 %}{{ object.primary_image.image.thumb.url }}{% else %}data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=={% endif %}" data-src="{{ object.primary_image.image.thumb.url }}"  class="gallery-img margin-bottom-10 img-responsive center-block" alt="" />
                    <span class="gallery_album_title">{{ object.title }}</span>
                </a>
            {% if perms.gallery.can_assign_numbers %}
                <a href="{% url 'gallery:photo_number_assign' album_pk=object.id pk=object.primary_image_id %}" class="text-center">Assign Numbers</a>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    {{ block.super }}
    {% endspaceless %}
{% endblock %}