{% extends 'public/base.html' %}
{% load thumbnail crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
    {{ block.super }}
<script src="{{ STATIC_URL }}plugins/jquery.unveil.js"></script>
<script src="{{ STATIC_URL }}plugins/handlebars-v3.0.1.js"></script>

    {% verbatim %}

     <script id="hb-video-tmpl" type="text/x-handlebars-template">
        <iframe width="{{ width }}" height="{{ height }}" class="video_player running" src="{{ video_link }}?autoplay=1"  data-stopped="{{ video_link }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </script>

{% endverbatim %}

 <script type="text/javascript">

    $(function() {
        $("img").unveil();

        var video_template = Handlebars.compile($('#hb-video-tmpl').html());

        $('.gallery_album').on('click', function(evt) {
            var target = $(evt.target);
            var a = $(target.parents('a'));
            var img = $(a.find('img.gallery-img'));
            var html = video_template({'video_link': a.data('url'), 'width': img.width(), 'height': img.height()+4});

            $('iframe.running').each(function( index ) {
                $(this).attr('src', $(this).data('stopped')).removeClass('running');
            });

            a.replaceWith(html);

            return false;
        });

        $('.sorting-tab').on('click', function(evt) {
            var target = $(evt.target);
            var data = target.data('sort');
            $('#id_sort').val(data);
            $('.search-form').submit();
        });
    });
</script>
{% endblock %}

{% block main %}
    {% spaceless %}
        <div class="row">
        <form class="search-form" method="get">
        <div class="col-sm-4">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if request.GET.sort == '-published_at' %}class="active"{% endif %}><a href="#" class="sorting-tab" role="tab" data-toggle="tab" data-sort="-published_at">Newest</a></li>
                <li role="presentation" {% if request.GET.sort == '-view_count' %}class="active"{% endif %}><a href="#" class="sorting-tab" role="tab" data-toggle="tab" data-sort="-view_count">Popular</a></li>
            </ul>
        </div>
            {% crispy search_form %}

        </form>
        </div>


    <div class="row" id="links">
        {% for object in object_list %}
            <div class="col-xs-12 {% if object.is_featured %}col-sm-12{% else %}col-sm-6{% endif %}">
            {% if object.is_agency_video %}<div class="agency-video" title="Aģentūras video"><span class="label label-success"><i class="glyphicon glyphicon-star"></i></span></div>{% endif %}
            <div class="video-viewcount"><span class="label label-default pull-right">{{ object.view_count }}</span></div>
                <a href="#" title="{{ object.title }}" class="gallery_album" data-url="{{ object.url_embed }}" data-kind="{{ object.kind }}">
                    <img src="{% if forloop.counter < 20 %}{{ object.image }}{% else %}data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=={% endif %}" data-src="{{ object.image }}"  class="gallery-img margin-bottom-10 img-responsive center-block" alt="" />
                    <span class="gallery_album_title">{{ object.title }}</span>
                    <img src="{{ STATIC_URL }}img/youtube_play.png" class="play-button" />
                </a>
            </div>
        {% endfor %}
    </div>
    {{ block.super }}
    {% endspaceless %}
{% endblock %}