{% extends 'public/base.html' %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}


{% block main %}


    {% for object in object_list %}
        {% ifchanged object.supporter_kind %}<h3>{% firstof object.supporter_kind "Atbalstītāji" %}</h3>{% endifchanged %}
{#        <img src="{{ object.default_logo.image.agencysupporter.url }}" width="240" class="img-rounded img-responsive" alt="" />#}

{% thumbnail object.default_logo.image 480x360 as logo %}
<img src="{{ logo.url }}"
     width="{% widthratio logo.width 2 1 %}"
     height="{% widthratio logo.height 2 1 %}" />


        {{ object }}


    {% endfor %}

    {{ block.super }}
{% endblock %}