{% extends "base/email.html" %}
{% block content %}
    <p class="lead">Apsveicam ar reģistrēšanos 27. Latvijas Riteņbraucēju Vienības braucienam!</p>

<br>
<hr>
    <br>
    {% if application %}
    <p>Dalībnieki Jūsu pieteikumā:</p> <br />
    {% endif %}

    {% for participant in participants %}
        <p style="font-size:1em;">Vārds, uzvārds: <b>{{participant.first_name}} {{participant.last_name}}</b><br />
        Distance: <b>{{participant.distance}}</b><br />
            {% if participant.primary_number %}
    Starta numurs: <b>{{participant.primary_number}}</b><br />
        {% endif %}
            Vēstule numura izņemšanai: <a href="https://velo.lv{% url 'participant_number_pdf' participant.code_short %}">https://velo.lv{% url 'participant_number_pdf' participant.code_short %}</a>
        </p>

    {% endfor %}
    <br>
<hr>
    <br>
    <p>Katram dalībniekam nepieciešams izdrukāt viņa vēstuli un ņemt līdzi uz 27. Latvijas Riteņbraucēju Vienības brauciena EXPO, kas notiks 1. un 2.septembrī. Uzrādot dalībnieka vēstuli un apliecinošu dokumentu, varēs saņemt savu starta numuru, kā arī citu nepieciešamo informāciju.</p>

    <p class="lead">EXPO norises vieta:<br>Veloveikals "VELOPROFS", Brīvības gatvē 401, Rīga.<br>Darba laiki 1. un 2. septembrī no plkst 10:00 - 19:00.</p>


    <p>Papildus informāciju meklējiet <a href="http://www.velo.lv">www.velo.lv</a></p>


<p>Vēlreiz apsveicam ar reģistrāciju 27. Latvijas Riteņbraucēju Vienības braucienam un novēlam veiksmīgus treniņus!</p>
<br>
<p>Ar cieņu,<br>
Vienības brauciena organizatoru komanda</p>
    <br />
    <h2>Jautājumi?</h2>
    <p>Neskaidrību gadījumā sazinieties ar mums: info@velo.lv</p>
{% endblock content %}
