{% load i18n %}
    {% if not competition.is_past_due %}
    <!--=== Call To Action ===-->
    <div class="call-action-v1 bg-color-light">
        <div class="container">
            <div class="call-action-v1-box">
                <div class="call-action-v1-in">

                    <p>Domāju, ka ir pēdējais brīdis, lai tu pieteiktos! Piesakies jau tagad!</p>
                </div>
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="{% url "application" %}" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">{% trans "Apply to Competition" %}</a>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Call To Action ===-->
    {% endif %}
