.bottom-padding--5{
    padding-bottom: 5px;
}
.bottom-padding--10{
    padding-bottom: 10px;
}
.bottom-padding--13{
    padding-bottom:13px;
}
.bottom-padding--15{
    padding-bottom: 15px;
}
.bottom-padding--20{
    padding-bottom: 20px;
}
.bottom-padding--30{
    padding-bottom: 30px;
}
.bottom-padding--40{
    padding-bottom: 40px;  
}
.bottom-padding--50{
    padding-bottom: 50px;  
}
.bottom-padding--60{
    padding-bottom: 60px;  
}
.bottom-padding--70{
    padding-bottom: 70px;  
}
.bottom-padding--80{
    padding-bottom: 80px;  
}
.bottom-padding--90{
    padding-bottom: 90px;  
}
.bottom-padding--100{
    padding-bottom: 100px;  
}

.top-padding--13{
    padding-top:13px;
}
.top-padding--30{
    padding-top:30px;
}

.right-padding--10{
    padding-right: 10px;
}
.right-padding--13{
    padding-right:13px;
}
.right-padding--15{
    padding-right: 15px;
}
.right-padding--35{
    padding-right: 35px;
}

.left-padding--5{
    padding-left: 5px;
}
.left-padding--10{
    padding-left: 10px;
}
.left-padding--13{
    padding-left:13px;
}
.left-padding--15{
    padding-left: 15px;
}
.left-padding--35{
    padding-left: 35px;
}

.bottom-margin--4{
    margin-bottom: 4px;
}
.bottom-margin--5{
    margin-bottom: 5px;
}
.bottom-margin--10{
    margin-bottom: 10px;
}
.bottom-margin--15{
    margin-bottom: 15px;
}
.bottom-margin--20{
    margin-bottom: 20px;
}
.bottom-margin--40{
    margin-bottom: 20px;
}
.bottom-margin--30{
    margin-bottom: 30px;
}
.bottom-margin--40{
    margin-bottom: 40px;
}
.bottom-margin--50{
    margin-bottom: 50px;
}
.bottom-margin--60{
    margin-bottom: 60px;
}
.bottom-margin--70{
    margin-bottom: 70px;
}
.bottom-margin--80{
    margin-bottom: 80px;
}
.bottom-margin--90{
    margin-bottom: 90px;
}
.bottom-margin--100{
    margin-bottom: 100px;
}
.left-margin--5{
    margin-left:5px;
}
.left-margin--10{
    margin-left:10px;
}
.left-margin--20{
    margin-left:20px;
}