{% extends "base/email.html" %}
{% block content %}
    <p class="lead">Apsveicam ar sekmīgu reģistrēšanos 24.Latvijas riteņbraucēju Vienības braucienam, kas notiks šo svētdien, 7.septembrī Siguldā!</p>
    <p style="font-size:1.1em;">Vārds, uzvārds: <b>{{object.first_name}} {{object.last_name}}</b><br />
Dzimšanas gads: <b>{{object.birthday.year}}</b><br />
    Distance: <b>{{object.distance}}</b><br />
        {% if number %}
Starta numurs: <b>{{number.number}}</b>
    {% endif %}
    </p>

    <p>Šo vēstuli lūdzam saglabāt, izprintēt un uzrādīt saņemot starta numuru.</p>
    <p>Uzrādot šo vēstuli reģistrācijas teltī, Jūs varēsiet saņemt aploksni ar savu starta numuru.</p>
    <p>Starta numurus iespējams saņemt 5. un 6.septembrī pie u/v Elkor Plaza (Brīvības gatve 201, Rīga) laikā no 10:00 līdz 20:00 vai arī 7.septembrī Siguldā, reģistrācijas teltī no 09:00.</p>
    <p>Lūdzam paņemt no reģistrācijas darbiniekiem instrukciju par pareizu numura piestiprināšanu.</p>


    <p>Papildus informāciju meklējiet <a href="http://www.velo.lv">www.velo.lv</a></p>


<p>Vēlreiz apsveicam ar reģistrēšanos Vienības braucienam un novēlam veiksmīgu startu!</p>
<p class="lead">Sajūti kopīgo spēku!</p>
<p>Sacensību organizatori</p>
    <br />
    <h2>Jautājumi?</h2>
    <p>Neskaidrību gadījumā sazinieties ar mums: pieteikumi@velo.lv</p>
{% endblock content %}
