{% extends "base/competition.html" %}
{% load i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block content_left %}
    <article class="article">
    <div class="article__text editor-text">

    {% cache 86400 staticpage_staticpage_detail LANGUAGE_CODE object.id %}
    {% spaceless %}
        {% if object.content_md %}
            {{ object.get_contentmd|safe }}
        {% else %}
            {{ content|safe }}
        {% endif %}
    {{ block.super }}
    {% endspaceless %}
    {% endcache %}
    </div>
    </article>
{% endblock content_left %}
