{% extends "base/competition.html" %}
{% load i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block content_left %}
  <div class="row">
    <div class="col-s-4">
      {% if object.content_md %}
      <button type="submit" class="btn btn--50 w100 js-form-results-btn btn--blue btn--blue-hover btn--blue-active">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/template/velo-2016/html/img/icons.svg#pdf"></use>
        </svg>
      </button>
      {% endif %}
    </div>

  </div>
    <article class="article">
    <div class="article__text editor-text">
    {% cache 86400 staticpage_staticpage_detail LANGUAGE_CODE object.id %}
    {% spaceless %}
        {% if object.content_md %}
            {{ object.get_contentmd|safe }}
        {% else %}
            {{ content|safe }}
        {% endif %}
    {{ block.super }}
    {% endspaceless %}
    {% endcache %}
    </div>
    </article>
{% endblock content_left %}
