{% extends 'public/base.html' %}
{% load cache i18n %}
{% load shorturl %}


{% block meta %}
{{ block.super }}
    <meta property="og:title" content="{{ object }}" />
    <meta property="og:site_name" content="Velo.lv"/>
    <meta property="og:url" content="http://{{ request.get_host }}{{ object.get_absolute_url }}" />
    <meta property="og:description" content="{{ object.intro_content|striptags }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ object.image.image.thumb.url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@velolv" />
    <meta name="twitter:title" content="{{ object }}" />
    <meta name="twitter:description" content="{{ object.intro_content|striptags }}" />
    <meta name="twitter:image" content="http://{{ request.get_host }}{{ object.image.image.thumb.url }}" />
    
{% endblock %}

{% block main %}

    {{ block.super }}

        	<div class="md-margin-bottom-60">
                <div class="blog margin-bottom-40">
                    <h2><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>
                    <div class="blog-post-tags">
                            <ul class="list-unstyled list-inline blog-info">
                                {% if object.created_by %}<li>By <a href="#">{{ object.created_by }}</a></li>{% endif %}
                                {% if object.competition %}<li><a href="#">{{ object.competition }}</a></li>{% endif %}
                                <li>{{ object.published_on }}</li>
                                <li>URL <a href="{% shorturl object %}">{% shorturl object %}</a></li>
                            </ul>
                    </div>
                    <div class="blog-img margin-bottom-20">
                        <img class="img-responsive" src="{{ object.image.image.news.url }}" alt="">
                    </div>
                    <div class="lead">{{ object.intro_content|safe }}</div>
                    {{ object.content|safe }}
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{% shorturl object %}" data-text="{{ object|truncatechars:95 }}" data-via="velolv">Tweet</a>
                            <div class="fb-share-button" data-href="http://{{ request.get_host }}{{ object.get_absolute_url }}" data-layout="button_count"></div>

                </div>
    			<hr>
            </div>
{% endblock %}


{% block left-side %}
    {% include "news/news_left_side.html" %}
{% endblock %}