{% extends 'public/table.html' %}
{% load django_tables2 i18n cache custom %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ title }}{% endblock %}


{% block main %}
    {% cache 60 team_list LANGUAGE_CODE distance_active competition request.GET %}
        {% spaceless %}
    <div class="row">
        <ul class="nav nav-tabs pull-right">
            {% for distance in distances %}
                <li class="{% if distance.id == distance_active.id %}active{% endif %}"><a href="{% url 'competition:team' competition.id %}?distance={{ distance.id }}">{{ distance }}</a></li>
            {% endfor %}
        </ul>
    </div>


    {{ block.super }}
        {% endspaceless %}
    {% endcache %}
{% endblock %}