{% extends 'public/base.html' %}
{% load crispy_forms_tags i18n velomath %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/{{ form.get_app_label }}_form.js"></script>
    {{ form.media.js }}
    {% for inline in inlines %}
        {{ inline.media.js }}
    {% endfor %}
{% endblock js %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
    {% for inline in inlines %}
        {{ inline.media.css }}
    {% endfor %}
{% endblock css %}

{% block main %}

<form method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Komandas {{ object }} profila apmaksa</td>
                <td>{{ object.final_price|floatformat:2 }} €</td>
            </tr>

            <tfoot>
                <tr>
                    <td></td>
                    <td class="text-right"><b>{% trans 'Total' %}</b></td>
                    <td><b>{{ object.final_price|floatformat:2 }} €</b></td>
                </tr>
            </tfoot>
            </table>
            </div>

        </div>
    </div>

    {% crispy form %}


    <input type="submit" name="pay" value="{% trans 'Pay' %}" class="btn btn-primary" />


</form>


{% endblock main %}