{% extends 'public/base.html' %}
{% load thumbnail cache %}

{% block title %}{{ title }}{% endblock %}


{% block main %}
    {% if object.is_featured %}
        {% thumbnail object.img 585x1000 as img %}
        {% thumbnail object.shirt_image 585x1000 as shirt_image %}
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="{{ img.url }}" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{{ shirt_image.url }}" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ object.description }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="headline"><h3>Komandas sastāvs</h3></div>
            <table class="table">

            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.birthday.year }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="headline"><h3>Kontakti</h3></div>
            <table class="table">

            <tbody>
                <tr>
                    <td>Vadītājs</td>
                    <td>{{ object.contact_person }}</td>
                </tr>
                <tr>
                    <td>Telefona nr</td>
                    <td><a href="callto:{{ object.phone_number }}">{{ object.phone_number }}</a></td>
                </tr>
                <tr>
                    <td>E-pasts</td>
                    <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="headline"><h3>Apkalpe</h3></div>
            {{ object.management_info }}
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Komandas sastāvs</h4>
            {% for member in members %}
                <p>{{ member.first_name }} {{ member.last_name }} {{ member.birthday.year }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}


{% endblock %}