{% extends 'public/base.html' %}
{% load crispy_forms_tags %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/{{ form.get_app_label }}_form.js"></script>
    {{ form.media.js }}
    {% for inline in inlines %}
        {{ inline.media.js }}
    {% endfor %}
{% endblock js %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
    {% for inline in inlines %}
        {{ inline.media.css }}
    {% endfor %}
{% endblock css %}

{% block main %}
    {% crispy form %}
{% endblock %}