{% extends 'public/base.html' %}
{% load thumbnail cache i18n %}


{% block main %}
    <h3>{{ object }}</h3>
    <h4>{{ competition.get_full_name }}</h4>

    <form method="post">
    {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'First Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Year' %}</th>
                    <th>{% trans 'Type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.first_name }}</td>
                        <td>{{ member.last_name }}</td>
                        <td>{{ member.birthday.year }}</td>
                        <td>
                            <select name="member_{{ member.id }}">
                                <option value="0">------</option>
                                <option value="10" {% if member.kind == 10 %}selected{% endif %}>{% trans 'Participant' %}</option>
                                <option value="20" {% if member.kind == 20 %}selected{% endif %}>{% trans 'Reserve' %}</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
    </form>
{% endblock %}