{% extends "base.html" %}
{% load staticfiles django_tables2 i18n sitetree crispy_forms_tags form_helper %}

{% block content %}
    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left flex direction--column">
                <h1 class="heading w100 border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                    <span class="w100">{% trans "My Profile" %}</span>
                    <span class="w100 c-yellow">{{ object.email }}</span>
                </h1>
                <h2 class="heading heading--smaller w100 border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                    <span class="w100">{% trans "My Teams" %}</span>
                </h2>


                {{ form }}


            </div>
        </div>
    </div>


{% endblock %}

