{% extends "base.html" %}
{% load staticfiles django_tables2 i18n sitetree crispy_forms_tags form_helper %}

{% block content %}
    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left flex direction--column">
                <h1 class="heading w100 border-bottom fs21">
                    <span class="w100">{% trans "My Profile" %}</span>
                    <span class="w100 c-yellow">{{ user.email }}</span>
                </h1>
                <h2 class="heading heading--smaller w100 border-bottom fs21">
                    <span class="w100">{% if object.id %}{% trans "My Teams" %} - {{ object }}{% else %}{% trans "Create Team" %}{% endif %}</span>
                </h2>



                <form method="post" action="" class="w100 bgc-dgray js-form" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="w100">
                            <div class="inner no-padding--560">
                                <div class="row row--gutters-50">
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <div class="w100 fs13 bottom-margin--10">&nbsp;</div>
                                            {{ form.distance|add_extra_classes:"select" }}
                                            {% if form.distance.help_text or form.distance.errors %}
                                                <p id="{{ form.distance.auto_id }}-error" class="error">
                                                    {% for error in form.distance.errors %}{{ error }}{% empty %}
                                                        {{ form.distance.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--15">
                                            <label
                                                for="{{ form.contact_person.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "Contact Person" %}</label>
                                            {{ form.contact_person|add_extra_classes:"input-field if--50 if--dark  js-placeholder-up" }}
                                            {% if form.contact_person.help_text or form.contact_person.errors %}
                                                <p id="{{ form.contact_person.auto_id }}-error" class="error">
                                                    {% for error in form.contact_person.errors %}{{ error }}{% empty %}
                                                        {{ form.contact_person.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--15">
                                            <label
                                                for="{{ form.title.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "Team Name" %} *</label>
                                            {{ form.title|add_extra_classes:"input-field if--50 if--dark  js-placeholder-up" }}
                                            {% if form.title.help_text or form.title.errors %}
                                                <p id="{{ form.title.auto_id }}-error" class="error">
                                                    {% for error in form.title.errors %}{{ error }}{% empty %}
                                                        {{ form.title.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <label
                                                for="{{ form.email.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "E-mail" %}</label>
                                            {{ form.email|add_extra_classes:"input-field if--50 if--dark  js-placeholder-up" }}
                                            {% if form.email.help_text or form.email.errors %}
                                                <p id="{{ form.email.auto_id }}-error" class="error">
                                                    {% for error in form.email.errors %}{{ error }}{% empty %}
                                                        {{ form.email.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <div class="w100 fs13 bottom-margin--10">&nbsp;</div>
                                            {{ form.country|add_extra_classes:"select" }}
                                            {% if form.country.help_text or form.country.errors %}
                                                <p id="{{ form.country.auto_id }}-error" class="error">
                                                    {% for error in form.country.errors %}{{ error }}{% empty %}
                                                        {{ form.country.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <label
                                                for="{{ form.phone_number.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "Phone Number" %}</label>
                                            {{ form.phone_number|add_extra_classes:"input-field if--50 if--dark  js-placeholder-up" }}
                                            {% if form.phone_number.help_text or form.phone_number.errors %}
                                                <p id="{{ form.phone_number.auto_id }}-error" class="error">
                                                    {% for error in form.phone_number.errors %}{{ error }}{% empty %}
                                                        {{ form.phone_number.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <label
                                                for="{{ form.description.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "Description" %}</label>
                                            {{ form.description|add_extra_classes:"input-field if--50 if--dark input-field--textarea  js-placeholder-up" }}
                                            {% if form.description.help_text or form.description.errors %}
                                                <p id="{{ form.description.auto_id }}-error" class="error">
                                                    {% for error in form.description.errors %}{{ error }}{% empty %}
                                                        {{ form.description.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <label
                                                for="{{ form.management_info.auto_id }}"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "Management Information" %}</label>
                                            {{ form.management_info|add_extra_classes:"input-field if--50 if--dark input-field--textarea  js-placeholder-up" }}
                                            {% if form.management_info.help_text or form.management_info.errors %}
                                                <p id="{{ form.management_info.auto_id }}-error" class="error">
                                                    {% for error in form.management_info.errors %}{{ error }}{% empty %}
                                                        {{ form.management_info.help_text }}{% endfor %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--20">
                                            <div class="input-file">
                                                {{ form.img|add_extra_classes:"input-file__input  js-input-file" }}
                                                <label
                                                    for="{{ form.img.auto_id }}"
                                                    class="layouts-profile-image-input input-file__label btn btn--50 btn--dblue btn--blue-hover btn--blue-active w100  js-input-file__label"
                                                >
                                                    <div class="btn__flex">
                                                        <span class="js-input-file__text">{% trans "Upload Team Photo" %}</span>
                                                        <svg class="icon">
                                                            <use
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                        </svg>
                                                    </div>
                                                </label>
                                                <p class="error hidden  js-input-file__error">{% trans "Upload image that is smaller than" %} <span class="js-allowed-size">NN</span> MB</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--50">
                                            <div class="input-file">
                                                {{ form.shirt_image|add_extra_classes:"input-file__input  js-input-file" }}
                                                <label
                                                    for="{{ form.shirt_image.auto_id }}"
                                                    class="layouts-profile-image-input input-file__label btn btn--50 btn--dblue btn--blue-hover btn--blue-active w100  js-input-file__label"
                                                >
                                                    <div class="btn__flex">
                                                        <span class="js-input-file__text">{% trans "Upload Shirt Photo" %}</span>
                                                        <svg class="icon">
                                                            <use
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                        </svg>
                                                    </div>
                                                </label>
                                                <p class="error hidden  js-input-file__error">{% trans "Upload image that is smaller than" %} <span class="js-allowed-size">NN</span> MB</p>
                                            </div>
                                        </div>
                                    </div>






                                {% crispy member member.form.helper %}










                                </div>
                            </div>
                            <div class="col-xl-24 border-top">
                                <div class="row">
                                    <div class="col-xl-15 col-m-14 col-s-24">

                                        {% if next_competition %}
                                            <button type="submit" name="submit_pay" class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100">
                                                <div class="btn__flex">
                                                    {% trans "Pay for" %} {{ next_competition }}
                                                </div>
                                            </button>
                                        {% endif %}

                                    </div>
                                    <div class="col-xl-9 col-m-10 col-s-24">
                                        <button type="submit" class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100">
                                            <div class="btn__flex">
                                                {% trans "Save" %}
                                                <svg class="left-margin--15 icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>








            </div>
        </div>
    </div>


{% endblock %}

