{% extends 'base.html' %}
{% load staticfiles django_tables2 i18n sitetree crispy_forms_tags form_helper %}










{% block content %}
    <div class="w100 flex">
        <div class="inner flex">
            <div class="w100 border-right border-left border-bottom flex direction--column">
                <h1 class="heading w100 border-bottom fs21 flex wrap--nowrap direction--column justify--start align-items--center">
                    <span class="w100">{% trans "My Profile" %}</span>
                    <span class="w100 c-yellow">{{ user.email }}</span>
                </h1>
                <h2 class="heading heading--smaller w100 border-bottom fs21">
                    <span>{{ object }} {% trans "apply to" %} {{ competition.get_full_name }}</span>
                </h2>

                <form method="post" action="" class="w100 bgc-dgray js-form">
                    {% csrf_token %}
                    <div class="w100">
                        <div class="inner no-padding--560">
                            <div class="row row--gutters-20">

                                <div class="w100 bottom-margin--20"></div>


                                <div class="col-xl-16 col-l-24 col-m-16 col-s-24 flex direction--column justify--start align-items--stretch">
                                    <div class="card border-top border-right border-bottom border-left flex direction--column justify--start align-items--stretch bottom-margin--20">
                                        <div class="flex--1">
                                            <div class="card__info">
                                                <h2 class="card__heading">{{ competition.get_full_name }}</h2>
                                            </div>
                                        </div>


                                        <div>
                                            <table class="table-block">
                                                <thead>
                                                <tr>
                                                    <th>{% trans 'First Name' %}</th>
                                                    <th>{% trans 'Last Name' %}</th>
                                                    <th>{% trans 'Year' %}</th>
                                                    <th>{% trans 'Type' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for member in members %}
                                                    <tr>
                                                        <td>{{ member.first_name }}</td>
                                                        <td>{{ member.last_name }}</td>
                                                        <td>{{ member.birthday.year }}</td>
                                                        <td>
                                                            <select class="select" name="member_{{ member.id }}">
                                                                <option value="0">------</option>
                                                                <option value="10"
                                                                        {% if member.kind == 10 %}selected{% endif %}>{% trans 'Participant' %}</option>
                                                                <option value="20"
                                                                        {% if member.kind == 20 %}selected{% endif %}>{% trans 'Reserve' %}</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    <div>
                                        <button type="submit" class="btn btn--50 btn--blue btn--blue-hover btn--blue-active w100 c-white">{% trans 'Register' %}</button>
                                    </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>
{% endblock %}

