{% extends "base.html" %}
{% load staticfiles i18n sitetree %}

{% block content %}
    <div class="w100">
        <div class="inner">
            <div class="row border-right no-border--480">
                <div class="banner-area-context banner-area-context--small flex--1 border-left no-border--480">
                    <div class="w100 bottom-margin--20"></div>
                    <div class="w100">
                        <div class="inner no-padding--480">
                            <div class="row row--gutters-20">

                                {% for item in this_year %}
                                    <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                        <div class="calendar-tile c-white flex--1 flex wrap--nowrap direction--column justify--start align-items--start border-top border-right border-bottom border-left bottom-margin--20">
                                            <a href="{% url "competition:competition" item.id %}"
                                               class="calendar-tile__info flex--1">
                                                <div class="w100 flex wrap--nowrap direction--row justify--space-between align-items--center">
                                                    <div class="calendar-tile__date">
                                                        <div class="calendar-tile__day">{{ item.competition_date.day }}</div>
                                                        <div class="calendar-tile__month">{{ item.competition_date|date:"M" }}</div>
                                                    </div>

                                                    {% if item.logo_svg %}
                                                        <figure class="calendar-tile__logo img-wrapper flex--1 flex justify--center align-items--center loaded">
                                                            <img onload="imgLoaded(this)" src="{{ item.logo_svg.url }}">
                                                        </figure>
                                                    {% endif %}

                                                </div>

                                                <div class="calendar-tile__heading">
                                                    {% if item.level == 2 %}
                                                        {{ item.parent }}
                                                    {% else %}
                                                        {{ item }}
                                                    {% endif %}
                                                </div>
                                                <div class="calendar-tile__text bottom-margin--30">
                                                    {% if item.level == 2 %}
                                                        {{ item }}<br>
                                                    {% endif %}
                                                    {{ item.place_name }}
                                                </div>

                                            </a>

                                            {% if item.is_application_active %}
                                                <a href="{% url 'application' item.id %}"
                                                   class="calendar-tile__btn btn btn--60 btn--white-transparent btn--blue-hover btn--blue-active btn--border-top w100 flex--important wrap--nowrap direction--row justify--space-between align-items--center">
                                                    {% trans "Apply" %}
                                                    <svg class="btn__icon icon left-margin--5">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>


                        </div>
                    </div>


                </div>


                <div class="banner-area border-left flex wrap--nowrap direction--column justify--start align-items--center">
                    <div class="w100 bottom-margin--20"></div>
                    {% include "banner/side_banner.html" %}
                </div>

            </div>
        </div>

    </div>


{% endblock %}
