{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <script type="text/template" id="slider-button-left">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow-2--left"></use>
        </svg>
    </script>
    <script type="text/template" id="slider-button-right">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow-2--right"></use>
        </svg>
    </script>


    <main>
        <div class="w100">
            <div class="inner">
                <div class="calendar-slider js-calendar-slider">


                    <div class="calendar-slider__slide border-right">
                        {% for item in calendar %}
                            {% if forloop.counter0|divisibleby:"3" and forloop.counter0 != 0 %}
                                </div>
                                <div class="calendar-slider__slide border-right">
                            {% endif %}

                            <div class="calendar-slider__head accordeon-head h100  js-accordeon-head js-open-accordeon {% if item.id == next_competition.id %}active{% endif %}">
                                <div class="calendar-tile c-white flex wrap--nowrap direction--column justify--start align-items--start border-left">
                                    <a data-href="{% url "competition:competition" item.id %}"
                                       class="calendar-tile__info flex--1 js-calendar-slider-link">
                                        <div class="w100 flex wrap--nowrap direction--row justify--space-between align-items--center">
                                            <div class="calendar-tile__date">
                                                <div class="calendar-tile__day">{{ item.competition_date.day }}</div>
                                                <div class="calendar-tile__month">{{ item.competition_date|date:"M" }}</div>
                                            </div>

                                            {% if item.logo_svg %}
                                            <figure class="calendar-tile__logo img-wrapper flex--1 flex justify--center align-items--center loaded">
                                                <img onload="imgLoaded(this)" src="{{ item.logo_svg.url }}">
                                            </figure>
                                            {% endif %}

                                        </div>
                                        <div class="calendar-tile__heading">
                                            {% if item.level == 2 %}
                                                {{ item.parent }}
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </div>
                                        <div class="calendar-tile__text">
                                            {% if item.level == 2 %}
                                                {{ item }}<br>
                                            {% endif %}
                                            {{ item.place_name }}
                                        </div>
                                    </a>
                                    {% if item.is_application_active %}
                                        <a href="{% url 'application' item.id %}"
                                           class="calendar-tile__btn btn btn--60 btn--white-transparent btn--blue-hover btn--blue-active btn--border-top w100 flex--important wrap--nowrap direction--row justify--space-between align-items--center">
                                            {% trans "Apply" %}
                                            <svg class="btn__icon icon left-margin--5">
                                                <use
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="calendar-slider__body accordeon-body h100  js-accordeon-body {% if item.id == next_competition.id %}active{% endif %}">
                                <div class="calendar-slider__acordeon-conent border-left flex wrap--nowrap direction--column">
                                    <figure class="w100 img-wrapper">
                                        <img
                                                class="js-calendar-slider-image"
                                                data-calendar-slider-img="{{ item.get_random_image.image.front_small.url }}"
                                                data-load-on="880"
                                                onload="imgLoaded(this)"
                                        >
                                    </figure>
                                    <div class="calendar-slider__acordeon-text editor-text flex--1 flex direction--column justify--center align-items--start">
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        </div>


                </div>
            </div>
        </div>
        <div class="w100 border-top">
            <div class="inner">
                <div class="row logo-tiles">
                    <div class="col-xl-144 col-m-24">
                        <div class="row">

                            {% for competition in competitions %}
                                <div class="col-xl-8 border-left border-bottom">
                                    <a href="{% url "competition:competition" competition.id %}"
                                       class="logo-tiles__tile img-wrapper">
                                        <img
                                                data-img-src="{{ competition.logo_svg.url }}"
                                                onload="imgLoaded(this)"
                                        >
                                        <div class="logo-tiles__tile__btn btn btn--60 btn--blue btn--blue-active flex--important wrap--nowrap direction--column justify--center align-items--center">
                                            <span class="bottom-margin--5">{{ competition }}</span>
                                            <svg class="btn__icon icon">
                                                <use
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <figure class="logo-tiles__hero col-xl-96 flex js-background-image"
                            data-background-image="{{ front_photo.image.front_small.url }}"></figure>
                </div>
            </div>
        </div>
        {% if news_list %}
            {% include "base/_sponsors.html" %}
        {% endif %}

        {#    {% include "base/_newest_results.html" %}#}

        {% if news_list %}
            <div class="w100 border-bottom">
                <div class="inner">
                    <h2 class="heading fs21 border-left flex wrap--nowrap direction--row justify--start align-items--center">
                        <a href="{% url 'news:news_list' %}" class="heading__link">
                            {% trans "News" %}
                            <svg class="icon left-margin--20">
                                <use
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                            </svg>
                        </a>
                    </h2>
                </div>
            </div>

            {% for news in news_list %}
                <div class="w100 border-bottom">
                    <div class="inner">
                        <div class="card card--large border-right border-left flex wrap--wrap direction--row justify--space-between align-items--stretch">
                            {% if forloop.counter0|divisibleby:"2" %}
                                {% include "base/_news_info.html" with position="left" object=news %}
                            {% endif %}
                            {% if news.image %}
                                <figure class="card__image card__image--background flex--1  js-background-image"
                                        data-background-image="{{ news.image.image.news_thumb.url }}"></figure>
                            {% endif %}
                            {% if not forloop.counter0|divisibleby:"2" %}
                                {% include "base/_news_info.html" with position="right" object=news %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        {#    {% include "base/_front_shop.html" %}#}
    </main>
{% endblock %}
