{% extends "base.html" %}
{% load i18n staticfiles cache %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
    <script type="text/template" id="slider-button-left">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow-2--left"></use>
        </svg>
    </script>
    <script type="text/template" id="slider-button-right">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow-2--right"></use>
        </svg>
    </script>

<style>
  .competition_item_99 .calendar-tile__btn {
    background-color: #098dce;
  }

  .competition_item_99 .calendar-tile__btn svg {
    margin-left: 5px;
    animation: margin-l 1s infinite;
    -webkit-animation: margin-l 1s infinite;
  }
  @-webkit-keyframes margin-l {
    0% { margin-left: 5px; }
    50% { margin-left: 25px; }
    100% { margin-left: 5px; }
  }

  @keyframes margin-l {
    0% { margin-left: 5px; }
    50% { margin-left: 25px; }
    100% { margin-left: 5px; }
  }
</style>
    <main>
        <div class="w100">
            <div class="inner">
            {% cache 300 index_calendar_slider LANGUAGE_CODE %}
                {% with calendar_active_indexes=active_indexes %}
                <div class="calendar-slider js-calendar-slider" data-slide-to="{{ calendar_active_indexes.1 }}">


                    <div class="calendar-slider__slide border-right">
                        {% for item in calendar %}
                            {% if forloop.counter0|divisibleby:"3" and forloop.counter0 != 0 %}
                                </div>
                                <div class="calendar-slider__slide border-right">
                            {% endif %}

                            <div class="competition_item_{{ item.id }} calendar-slider__head accordeon-head h100  js-accordeon-head js-open-accordeon {% if forloop.counter0 in calendar_active_indexes.0 %}active{% endif %}">
                                <div class="calendar-tile h100 c-white flex wrap--nowrap direction--column justify--start align-items--start border-left">
                                    <a data-href="{% url "competition:competition" item.id %}"
                                       class="calendar-tile__info flex--1 js-calendar-slider-link">
                                        <div class="w100 flex wrap--nowrap direction--row justify--space-between align-items--center">
                                            <div class="calendar-tile__date">
                                                {% if item.id in parent_ids %}
                                                    <div class="calendar-tile__day" style="font-size: 40px">MTB</div>
                                                    <div class="calendar-tile__month">{{ item.competition_date|date:"Y" }}</div>
                                                {% else %}
                                                    <div class="calendar-tile__day">{{ item.competition_date.day }}</div>
                                                    <div class="calendar-tile__month">{{ item.competition_date|date:"M" }}</div>
                                                {% endif %}
                                            </div>

                                            {% if item.logo_svg %}
                                            <figure class="calendar-tile__logo img-wrapper flex--1 flex justify--center align-items--center loaded">
                                                <img onload="imgLoaded(this)" src="{{ item.logo_svg.url }}" style="height: 100%">
                                            </figure>
                                            {% endif %}

                                        </div>
                                        <div class="calendar-tile__heading">
                                            {% if item.level == 2 %}
                                                {{ item.parent }}
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </div>
                                        <div class="calendar-tile__text">
                                            {% if item.level == 2 %}
                                                {{ item }}<br>
                                            {% endif %}
                                            {{ item.place_name }}
                                        </div>
                                    </a>
                                    {% if item.is_application_active %}
                                        <a href="{% url 'application' item.id %}"
                                           class="calendar-tile__btn btn btn--60 btn--white-transparent btn--blue-hover btn--blue-active btn--border-top w100 flex--important wrap--nowrap direction--row justify--space-between align-items--center">
                                            {% trans "Apply" %}
                                            <svg class="btn__icon icon left-margin--5">
                                                <use
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="calendar-slider__body accordeon-body h100  js-accordeon-body {% if forloop.counter0 in calendar_active_indexes.0 %}active{% endif %}">
                                <div class="calendar-slider__acordeon-conent border-left flex wrap--nowrap direction--column">
                                    <figure class="w100 img-wrapper">
                                        <img
                                                class="js-calendar-slider-image"
                                                {% if forloop.counter0 in calendar_active_indexes.0 %}src{% else %}data-calendar-slider-img{% endif %}="{{ item.get_random_image.image.front_small.url }}"
                                                data-load-on="880"
                                                onload="imgLoaded(this)"
                                        >
                                    </figure>
                                    <div class="calendar-slider__acordeon-text editor-text flex--1 flex direction--column justify--center align-items--start">
                                        <p>{{ item.description|truncatewords_html:14|safe }}</p>
                                    </div>
                                    <a class="calendar-slider__btn btn btn--60 btn--white-transparent btn--no-borders left flex--important wrap--nowrap justify--space-between align-items--center" href="{% url "competition:competition" item.id %}">
                                        <span class="c-yellow">{% trans "Open Competition" %}</span>
                                        <svg class="left-margin--10 c-yellow icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                </div>
                {% endwith %}
            {% endcache %}
            </div>
        </div>
        <div class="w100 border-top">
            <div class="inner">
                <div class="row logo-tiles">
                    <div class="col-xl-144 col-m-24">
                        <div class="row">
                            {% cache 300 front_competitions LANGUAGE_CODE %}
                                {% for competition in front_competitions %}
                                    <div class="col-xl-8 border-left border-bottom">
                                        {% if competition.id != 76 %}
                                        <a href="{% url "competition:competition" competition.id %}"
                                           class="logo-tiles__tile img-wrapper">
                                            <img
                                                data-src="{{ competition.logo_svg.url }}"
                                                onload="imgLoaded(this)"
                                                style="height: 100%"
                                            >
                                            <div class="logo-tiles__tile__btn btn btn--60 btn--blue btn--blue-active flex--important wrap--nowrap direction--column justify--center align-items--center">
                                                <span class="bottom-margin--5">{{ competition }}</span>
                                                <svg class="btn__icon icon">
                                                    <use
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                            {% else %}
                                            <a href="{% url "competition:staticpage" 77 'retro_nolikums' %}">
                                            <img src="{% static "img/2017_retro_velo.jpg" %}" style="width: 219px; height:115px;">
                                            </a>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            {% endcache %}
                        </div>
                    </div>
{#                    <figure class="logo-tiles__hero col-xl-96 flex js-background-image" data-background-image="{{ front_photo.image.front_small.url }}"></figure>#}
                <figure class="logo-tiles__hero col-xl-96 flex js-background-image" data-background-image="/media/adverts/toyota_banner_lv.gif" onclick="window.location='https://toyota.lv';" style="cursor:pointer;"></figure>

                </div>
            </div>
        </div>
        {% cache 1200 agency_sponsors LANGUAGE_CODE %}
            {% if news_list %}
                {% include "base/_sponsors.html" %}
            {% endif %}
        {% endcache %}

{#    <div style="margin:0 auto;padding-top:20px;padding-bottom:20px;" onclick="this.style.display='none';"><div style=""><img src="{% static "img/laimigu_2020_velo.gif" %}" alt="Laimīgu Jauno!"></div></div>#}

        {#    {% include "base/_newest_results.html" %}#}

        {% cache 300 index_news LANGUAGE_CODE %}
            {% if news_list %}

            <div class="w100 border-bottom border-top">
                <div class="inner">
                    <h2 class="heading fs21 border-left flex wrap--nowrap direction--row justify--start align-items--center">
                        <a href="{% url 'news:news_list' %}" class="heading__link">
                            {% trans "News" %}
                            <svg class="icon left-margin--20">
                                <use
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                            </svg>
                        </a>
                    </h2>
                </div>
            </div>

            {% for news in news_list %}
                <div class="w100 border-bottom">
                    <div class="inner">
                        <div class="card card--large border-right border-left flex wrap--wrap direction--row justify--space-between align-items--stretch">
                            {% if forloop.counter0|divisibleby:"2" %}
                                {% include "base/_news_info.html" with position="left" object=news %}
                            {% endif %}
                            {% if news.image %}
                                <figure class="card__image card__image--background flex--1  js-background-image"
                                        data-background-image="{{ news.image.image.news_thumb.url }}"></figure>
                            {% endif %}
                            {% if not forloop.counter0|divisibleby:"2" %}
                                {% include "base/_news_info.html" with position="right" object=news %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% endif %}
        {% endcache %}


        {#    {% include "base/_front_shop.html" %}#}
    </main>




{% endblock %}









{% block footer %}

            {% include "banner/top_banner.html" %}

    {{ block.super }}

{% endblock %}
