{% extends "base/email.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    <p class="lead">{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

    <p>{% trans "Please go to the following page and choose a new password:" %}<br />
    {% block reset_link %}
    {{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}</p>

    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

    {% endautoescape %}
{% endblock %}