.video{
    float: left;
    width: 100%;
    position: relative;
}
.video--16x9{
    padding: 0 0 56.25% 0;
}
.video__iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}