.article__heading{
    float: left;
    width: 100%;
    padding: 30px 100px 30px 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3;
}
.article__image{
    float: left;
    width: 100%;
}
.article__image img{
    float: left;
    width: calc(100% - 100px);
}
.article__text{
    float: left;
    width: 100%;
    padding: 50px 100px;
    overflow: hidden;
}
@media only screen and (max-width: 960px) {
.article__heading{
    padding: 30px 30px 30px 30px;
}
.article__image{}
.article__image img{
    width: 100%;
}
.article__text{
    padding: 30px 30px;
}
}
@media only screen and (max-width: 480px) {
.article__heading{
    padding: 20px 0px 20px 0px;
}
.article__image{}
.article__image img{}
.article__text{
    padding: 20px 0px;
}
}