@import "../template/velo-2016/html/css/main/main.scss";


[type="radio"] {
  -webkit-appearance:radio !important;
}


.checkboxinput{
    display: none;
    cursor: pointer;
}

.checkboxinput:checked + .checkbox__label .checkbox__graphic--default{
    display: none;
}
.checkboxinput:checked + .checkbox__label .checkbox__graphic--checked{
    display: block;
}


.invoice_fields {
  display: none;
}

//a {
//  color: #FFF;
//}
