@import "../template/velo-2016/html/css/main/main.scss";


[type="radio"] {
  -webkit-appearance:radio !important;
}


.checkboxinput{
    display: none;
    cursor: pointer;
}

.checkboxinput:checked + .checkbox__label .checkbox__graphic--default{
    display: none;
}
.checkboxinput:checked + .checkbox__label .checkbox__graphic--checked{
    display: block;
}


.invoice_fields {
  display: none;
}

.autocomplete-suggestions {
  background-color: #1a2126;

  .autocomplete-suggestion {
    border: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
    padding-left:10px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &.autocomplete-selected {
      background-color: #1a2937;
    }
  }
}

//a {
//  color: #FFF;
//}
