{% extends "base/base.html" %}
{% load i18n staticfiles %}



{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "plugins/owl-carousel/owl.carousel.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/jaiascript" src="{% static "plugins/master-slider/masterslider/masterslider.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/master-slider/masterslider/jquery.easing.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/countdown/jquery.plugin.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/countdown/jquery.countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/owl-carousel/owl.carousel.min.js" %}"></script>
    {% if LANGUAGE_CODE == 'lv' %}
    <script type="text/javascript" src="{% static "plugins/countdown/jquery.countdown-lv.js" %}"></script>
    {% endif %}


        <script type="text/javascript">
            jQuery(document).ready(function() {

			    $('[data-countdown]').each(function() {
                   var $this = $(this);
                    $this.countdown({until: new Date($this.data('year'),$this.data('month') - 1, $this.data('day'))});
                 });

                $("#owl-supporters").owlCarousel({

                      autoPlay: 3000, //Set AutoPlay to 3 seconds

                      items : {{ supporters|length }},
                      itemsDesktop : [1199,3],
                      itemsDesktopSmall : [979,3]

                  });


            });
        </script>
{% endblock %}






{% block content %}


    <div class="container">
    <div class="row">
    <div class="col-xs-12">

<div id="front-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          {% for competition in competitions %}
        <li data-target="#front-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if competition.tree_id == next_competition.tree_id %}active{% endif %}"></li>
          {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
            {% for competition in competitions %}
                <div class="item {% if competition.tree_id == next_competition.tree_id %}active{% endif %}" style="background: url('{{ competition.get_random_image.image.news.url }}') no-repeat center center; background-size: cover;">
                  <div class="container">
                    <div class="carousel-caption">
                       <p><a style="opacity:0.8" class="btn-u rounded-2x btn-u-blue btn-u-lg" href="{% if competition.tree_id == next_competition.tree_id %}{{ next_competition.get_absolute_url }}{% else %}{{ competition.get_absolute_url }}{% endif %}" role="button">{{ competition }}</a></p>
                    </div>
                  </div>
                </div>
            {% endfor %}

      </div>
      <a class="left carousel-control" href="#front-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#front-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


				</div>
    </div></div>



    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Lielākās un labākās velo sacensības Latvijā!</span>
                    <p>Igo Japiņa sporta aģentūras gadu gaitā uzkrātā pieredzeļauj organizēt valstī populārākās un apmeklētākās sacensības - kalnu divriteņu maratonus, Rīgas Velomaratonu un Vienības braucienu, pulcējot arvien vairāk sacensību dalībnieku no gada uz gadu.</p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="{% url 'application' %}" class="btn-u btn-u-lg"><i class="fa fa-bomb"></i> {% trans 'Apply now' %}</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content">
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-bicycle service-icon"></i>
        			<div class="desc">
        				<h4><a href="{% url "competition:competition" 43 %}">SEB MTB maratons 2015</a></h4>
                        <p>Izaicinājums, adrenalīns un sportiska sacīkste!</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-bicycle service-icon"></i>
        			<div class="desc">
        				<h4><a href="{% url "competition:competition" 48 %}">Latvijas Riteņbraucēju vienības brauciens 2015</a></h4>
                        <p>Valstiski nozīmīgais riteņbrauciens - Latvijas prezidenta Kārļa Ulmaņa aizsāktais – Latvijas Riteņbraucēju Vienības brauciens.</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-bicycle service-icon"></i>
        			<div class="desc">
        				<h4><a href="{% url "competition:competition" 47 %}">Elkor Rīgas Velomaratons 2015</a></h4>
                        <p>Velosezonas lielākais izaicinājums galvaspilsētā</p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

    	<!-- Recent Works -->
        <div class="headline"><h2>{% trans "Latest News" %}</h2><a href="{% url 'news:news_list' %}" class="btn-u btn-brd btn-brd-hover btn-u-xs pull-right">{% trans "View All News" %}</a></div>

        <div class="row margin-bottom-20">

            {% for object in news_list %}

            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    {% if object.image %}
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ object.image.image.news_thumb.url }}" alt="" />
                        </div>
                        <a class="btn-more hover-effect" href="{{ object.get_absolute_url }}">{% trans "read more" %} +</a>
                    </div>
                    {% endif %}
                    <div class="caption">
                        <h3><a class="hover-effect" href="{{ object.get_absolute_url }}">{{ object }}</a></h3>
                        {{ object.intro_content|safe }}
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    	<!-- End Recent Works -->


    <div class="headline"><h2>{% trans "Our Supporters" %}</h2></div>


        <div id="owl-supporters">

                {% for supporter in supporters %}
                        <div class="item" style="">
                            <a href="{{ supporter.url }}" target="_blank"><img src="{{ supporter.default_logo.image.agencysupporter.url }}" alt="" /></a>
                        </div>
                {% endfor %}

        </div>

    </div><!--/container-->
    <!-- End Content Part -->
{% endblock %}