{% extends 'public/base.html' %}
{% load thumbnail cache i18n crispy_forms_tags %}

{% block main %}
{#    {% cache 60 core_maps LANGUAGE_CODE competition %}#}
{#    {% spaceless %}#}
    <div class="row">
        <div class="col-xs-12">
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% crispy form %}
        </div>
    </div>
    {{ block.super }}



{#    {% endspaceless %}#}
{#    {% endcache %}#}
{% endblock %}