{% extends "base.html" %}
{% load staticfiles i18n sitetree %}

{% block content %}
    <div class="w100">
        <div class="inner">
            <div class="row border-right no-border--480">
                <div class="banner-area-context banner-area-context--small flex--1 border-left no-border--480">
                    <div class="w100 bottom-margin--20"></div>
                    <div class="w100">
                        <div class="inner no-padding--480">
                            <div class="row row--gutters-20">

                                {% for object in object_list %}




                                    <div class="col-xl-6 col-l-8 col-m-8 col-s-12 col-xs-24 flex direction--column justify--start align-items--stretch">
                                        <a href="#" title="{{ object.title }}" class="gallery_album" data-url="{{ object.url_embed }}">
                                            <div class="brief border-top border-right border-bottom border-left flex direction--column justify--start align-items--stretch bottom-margin--20 cursor--pointer">
                                                <div class="w100">
                                                    <figure class="brief__hero brief-hover-layer img-wrapper">
                                                        <img data-src="{% firstof object.image '/static/img/grey_placeholder.png' %}" onload="imgLoaded(this)"/>
                                                        <div class="brief-hover-top-layer brief-hover-top-layer--hero">
                                                            <div class="table">
                                                                <div class="table-cell text-align--center">
                                                                    <div class="brief__hover-item">
                                                                        Skatīt
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>


                                                <div class="brief__info brief-hover-layer">
                                                    <div class="brief-hover-top-layer">
                                                        <div class="flex--1">
                                                            <div class="brief__heading">
                                                                <div class="top-padding--13 right-padding--13 bottom-padding--10 left-padding--13">{{ object.title }}</div>
                                                            </div>
                                                            <div class="brief__text">
                                                                <div class="right-padding--13 bottom-padding--13 left-padding--13">{{ object.channel_title }}</div>
                                                            </div>
                                                        </div>
                                                        <time datetime="2007-08-29T13:58Z" class="brief__secondary-text">
                                                            <div class="right-padding--13 bottom-padding--13 left-padding--13">View count: {{ object.view_count }}</div>
                                                        </time>
                                                    </div>
                                                </div>


                                            </div>


                                        </a>
                                    </div>






                                {% endfor %}
                            </div>


                        </div>
                    </div>


                </div>


                <div class="banner-area border-left flex wrap--nowrap direction--column justify--start align-items--center">
                    <div class="w100 bottom-margin--20"></div>
                    {% include "banner/side_banner.html" %}
                </div>

            </div>
        </div>

    </div>



    <section class="modal--show" id="video-modal" tabindex="-1"
             role="dialog" aria-labelledby="modal-label" aria-hidden="true">

        <div class="modal-inner">
        </div>

        <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
           data-dismiss="modal">?</a>
    </section>

{% endblock %}

{% block js %}
    {{ block.super }}
    {% verbatim %}

    <script id="hb-video-tmpl" type="text/x-handlebars-template">
        <iframe width="100%" class="video_player running" src="{{ video_link }}?autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </script>

    {% endverbatim %}
{% endblock js %}
