{% extends "account/base.html" %}

{% load i18n staticfiles %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content2 %}
<h1 class="ti fs30 fw700 uppercase w100 bottom-margin--15">{% trans "Confirm E-mail Address" %}</h1>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p class="bottom-margin--30">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}


                                        <div class="row row--gutters-20 bottom-margin--15">
                                    <div class="col-xl-12 col-s-24">
                                        <button name="action_add" class="btn btn--50 btn--blue btn--blue-hover btn--blue-active flex--important direction--row justify--space-between align-items--center w100">
                                            {% trans "Confirm" %}
                                            <svg class="icon">
                                                <use
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>


        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

{% endblock %}

