{% extends "account/base.html" %}

{% load i18n staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content2 %}
<h1 class="ti fs30 fw700 uppercase w100 bottom-margin--15">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class=" bottom-margin--15">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form class="w100 js-form" id="signup_form" method="post" action="./">
            {% csrf_token %}
                                <div class="row row--gutters-20">
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--15">
                                            <label
                                                for="id_email"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "E-mail address" %} *</label>
                                            <input
                                                type="email"
                                                class="input-field if--50 if--dark  js-placeholder-up {% if form.email.errors %}error{% endif %}"
                                                id="id_email"
                                                name="email"
                                                value="{{ form.email.value|default_if_none:"" }}"
                                                data-rule-required="true"
                                                data-rule-email="true"
                                                data-msg-required="{% trans "This field is mandatory" %}"
                                                data-msg-email="{% trans "Please enter valid e-mail address!" %}"
                                            >
                                            {% if form.email.errors %}
                                                <p id="id_email-error" class="error">{{ form.email.errors.0 }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row row--gutters-20 bottom-margin--15">
                                    <div class="col-xl-12 col-s-24">
                                        <button class="btn btn--50 btn--blue btn--blue-hover btn--blue-active flex--important direction--row justify--space-between align-items--center w100">
                                            {% trans "Reset My Password" %}
                                            <svg class="icon">
                                                <use
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>


        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("#id_email").focus();
    </script>
{% endblock javascript %}

