{% extends "account/base.html" %}

{% load i18n staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content2 %}

<h1 class="ti fs30 fw700 uppercase w100 bottom-margin--15">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="w100 js-form" method="post" action="./">
                {% csrf_token %}


<div class="row row--gutters-20">
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--15">
                                            <label
                                                for="id_password1"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "New Password" %} *</label>
                                            <input
                                                type="password"
                                                class="input-field if--50 if--dark  js-placeholder-up {% if form.password1.errors %}error{% endif %}"
                                                id="id_password1"
                                                name="password1"
                                                data-rule-required="true"
                                                data-msg-required="{% trans "This field is mandatory" %}"
                                            >
                                            {% if form.password1.errors %}
                                                <p id="id_password1-error" class="error">{{ form.password1.errors.0 }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-s-24">
                                        <div class="input-wrap w100 bottom-margin--15">
                                            <label
                                                for="password_confirm"
                                                class="input-field-label  js-placeholder"
                                            >{% trans "New Password (again)" %} *</label>
                                            <input
                                                type="password"
                                                class="input-field if--50 if--dark  js-placeholder-up {% if form.password2.errors %}error{% endif %}"
                                                id="id_password2"
                                                name="password2"
                                                data-rule-required="true"
                                                data-rule-equalto="#id_password1"
                                                data-msg-required="{% trans "This field is mandatory" %}"
                                                data-msg-equalto="{% trans "The two password fields didn't match." %}"
                                            >
                                            {% if form.password2.errors %}
                                                <p id="id_password2-error" class="error">{{ form.password2.errors.0 }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                                <div class="row row--gutters-20 bottom-margin--15">
                                    <div class="col-xl-12 col-s-24">
                                        <button class="btn btn--50 btn--blue btn--blue-hover btn--blue-active flex--important direction--row justify--space-between align-items--center w100">
                                            {% trans "Change Password" %}
                                            <svg class="icon">
                                                <use
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#arrow--right"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>





            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}

