{% extends "public/base.html" %}

{% block copyright %}
{% endblock %}

{% load thumbnail cache i18n crispy_forms_tags %}


{% block main %}
{#    {% cache 60 core_maps LANGUAGE_CODE competition %}#}
{#    {% spaceless %}#}
    <div class="row">
        <div class="col-sm-5">
            <h2 class="form-signin-heading">{% trans "Please sign in" %} <a href="{% url 'accounts:register' %}" class="pull-right"><small>{% trans "Register" %}</small></a></h2>
                {% crispy form %}

                <a href="{% url 'accounts:password_reset' %}" class="pull-right">{% trans "Forgot password?" %}</a>
        </div>
        <div class="col-sm-2 text-center"></div>
        <div class="col-sm-5">
            <h2 class="form-signin-heading">{% trans "Register or connect with:" %}</h2>
                  <a href="{% url 'social:begin' backend='twitter' %}" class="btn btn-block btn-default btn-twitter" style="background-color:#4099FF;color:#FFF;">
                    <i class="fa fa-twitter"></i> Sign in with Twitter
                  </a>
                  <a href="{% url 'social:begin' backend='facebook' %}" class="btn btn-block btn-default btn-facebook" style="background-color:#3B5998;color:#FFF;">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                  </a>
                  <a href="{% url 'social:begin' backend='draugiem' %}" class="btn btn-block btn-default btn-draugiem" style="background-color:#FD6720;color:#FFF;">
                    <i class="fa fa-draugiem"></i> Ienākt ar draugiem pasi
                  </a>
        </div>
    </div>
    {{ block.super }}



{#    {% endspaceless %}#}
{#    {% endcache %}#}
{% endblock %}