{% extends "public/base.html" %}

{% block copyright %}
{% endblock %}

{% load i18n  %}


{% block main %}
    <form class="form-signin" role="form" method="post">
        {% csrf_token %}
         <div class="form-group">
            <label for="email">{% trans 'Email address' %}</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Email address' %}">
          </div>
        <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
    </form>
    {{ block.super }}
{% endblock %}