{% load staticfiles %}
<div class="checkbox checkbox--no-float">
    <input class="checkbox__input" type="checkbox" {% if record.id != 'all' %}name="selection" value="{{ record.id }}"{% endif %} id="selection-checkbox-{{ record.id }}">
    <label for="selection-checkbox-{{ record.id }}" class="checkbox__label">
        <div class="flex wrap--nowrap direction--row justify--start align-items--center">
            <svg class="checkbox__graphic checkbox__graphic--default icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#checkbox--default"></use>
            </svg>
            <svg class="checkbox__graphic checkbox__graphic--checked icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static "template/velo-2016/html/img/icons.svg" %}#checkbox--checked"></use>
            </svg>
        </div>
    </label>
</div>
