.layouts-competition-register-total{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 560px) {
    .layouts-competition-register-background{
        background-color:transparent;
    }
}