/* Add here all your css styles (customizations) */

i.level-1 {
    padding-left:20px;
}
i.level-2 {
    padding-left:40px;
}

tr.template {
    display: none;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

#id_competition > button {
    width: 100%;
    margin-bottom: 20px;
    height:200px;
    color: #FFF;
    font-size:2em;
    padding:0;
}
#id_competition > button > span {
    background: #000;
    padding:10px;
    opacity: 0.8;
    width:100%;
    white-space: pre-wrap;
}
#id_competition > button:hover {
    font-size:2.1em;
    -webkit-transform: scale(1.05);
}
div.item.dynamic-form, div.django-inline-form-noadd div.item {
    position:relative;
    background: #EEE;
    padding: 10px 20px 0 20px;
    margin-bottom:5px;
}

div.item.dynamic-form > button.delete {
    position:absolute;
    top:0;
    right:0;
}

.addline {
    text-align: center;
}

.participant_calculation {
    font-size: 1.2em;
    margin: 40px 0;
    background: #CCC;
    padding: 10px;
    text-align: left;
}

.participant_calculation .total {
    margin-top:10px;
    font-weight: bold;
    font-size:1.2em;

}

.flash_banner_holder {
    text-align: center;
}

.flash_banner_holder > div {
    position:relative;
}

.flash_banner_holder > div > a {
    height:130px;
    position:absolute;
    width: 100%;
}


/* nav-wizard start */

ul.nav-wizard {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: #468847;
  padding: 0;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f9f9f9;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #d9edf7;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #d9edf7;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #3a87ad;
  background: #d9edf7;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

/* nav-wizard end */


/* suggestion csses */
.tt-dropdown-menu {
    border: 1px solid #CCC;
    margin-top:5px;
}


.tt-suggestion {
  padding: 3px 5px;
  background:#FFF;
  border-bottom:1px solid #CCC;
  min-width:150px;
}
.tt-suggestion.tt-cursor {
    background-color: #428bca;
}
.tt-suggestion.tt-cursor > p {
  color: #fff !important;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* END suggestion csses */

/* START tabdrop */

.nav-tabs,
.nav-pills {
  position: relative;
}

/* END tabdrop */

.topbar-v1 > .container {
    height: 34px;
}
.header {
    /*background: #FFF;*/
    /*font-size:0.8em;*/
    /*padding-top:40px;*/
}
.header .navbar-nav > li > a {
    font-size:0.9em;
}

.header-v4 .navbar-default .navbar-nav > li > a {
    font-size:13px;
    /*padding:0;*/
}
.header-v4 .navbar-nav {
    float: right;
}
.header-v4 .navbar-brand {
    padding-top:0;
    height: 80px;
}

.header-v4 > .navbar > .container {
    background-color: #f8f8f8;
}
.header-v4 > .navbar > .navbar-collapse > .container {
    background-color: #f8f8f8;
}

@media (min-width: 992px) {
    .header-v4 .navbar-collapse {
        border-top: none;
        border-bottom: none;
    }
    .header-v4 .navbar-collapse .container {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}


.banks_all.btn-default:hover {
    background-color:#FFF;
}

.banks_firstdata, .btn.banks_firstdata {
    height: 75px;
    background: url('/static/img/banks/firstdata.png') #FFF center center no-repeat;

}
.banks_swedbank, .btn.banks_swedbank {
    height: 75px;
    background: url('/static/img/banks/swedbank.png') #FFF  center center no-repeat;
}
.banks_ibanka, .btn.banks_ibanka {
    height: 75px;
    background: url('/static/img/banks/ibanka.png') #FFF  center center no-repeat;
}

@media (min--moz-device-pixel-ratio: 1.3),
      (-o-min-device-pixel-ratio: 2.6/2),
 (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    .banks_firstdata, .btn.banks_firstdata {
        background: url('/static/img/banks/firstdata@2x.png') #FFF center center no-repeat !important;
        background-size: 210px 75px !important;
    }
    .banks_swedbank, .btn.banks_swedbank {
        background: url('/static/img/banks/swedbank@2x.png') #FFF center center no-repeat !important;
        background-size: 210px 75px !important;

    }
    .banks_ibanka, .btn.banks_ibanka {
        background: url('/static/img/banks/ibanka@2x.png') #FFF center center no-repeat !important;
        background-size: 210px 75px !important;
    }
}



.banks_all.active {
    box-shadow: inset 0 3px 20px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 3px 20px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 3px 20px rgba(0,0,0,.5);
}

.banks_firstdata span, .banks_ibanka span, .banks_swedbank span {
    display: none;
}

.noadd .participant_calculation {
    display:none;
}



form.smaller .form-group {
    margin-bottom:5px;
}

form.smaller input, form.smaller select {
    padding: 2px 6px;
    font-size: 12px;
    height:30px;
    line-height:12px;
}

.outer_gallery_album {
     /*position: relative;*/
}

.gallery_album {
    /*position: relative;*/
    /*display: table-cell;*/
    font-family: 'Open Sans', sans-serif;
    font-size:1.2em;
}
.gallery_album img.gallery-img {
    min-height:200px;
}
.gallery_album_title {
    position:absolute;
    z-index:10000;
    bottom:10px;
    left:15px;
    right:15px;
    background: #000;
    color: #FFF;
    padding: 10px;
    opacity:0.7;
}
.gallery_album:hover .gallery_album_title {
    opacity:1;
}

.play-button {
    position:absolute;
    top:50%;
    left:50%;
    width:80px;
    height:56px;
    margin-left:-40px;
    margin-top:-26px;
    opacity:0.8;
}
.gallery_album:hover .play-button {
    opacity:1;
}

.bike-brand-dropdown {
    margin-top: -5px;
}
.bike-brand-dropdown.disabled {
    margin-top: 0;
}


.breadcrumbs .apply-competition {
    margin-top: 7px;
}

.breadcrumbs {
    padding: 0;
    background: none;
    border-bottom: none;
}
.breadcrumbs > .container {
    background: url(../../img/patterns/breadcrumbs.png) repeat;
    border-bottom: solid 1px #eee;
}

table .is_featured {
    width:30px;
}
table td.is_featured {
    text-align:right;
    color:#FFCC00;
}

.search-button-margin {
    margin-top:25px;
}

.agency-video {
    position:absolute;
}

.video-viewcount {
    position:absolute;
    right:15px;
}

.video-status {
    position:absolute;
    top:0;
    left:50px;
}






/*Competition Countdown
------------------------------------*/
.countdown {
	width: 100%;
	margin: 10px 0;
	overflow: hidden;
}

.countdown span.countdown_row {
	overflow: hidden;
}

.countdown span.countdown-section {
	margin: 2px;
	width: 150px;
	padding: 25px 0;
	text-align: center;
	display: inline-block;
	background: rgba(0,0,0,0.3);
}

.countdown span.countdown-amount {
	color: #fff;
	display: block;
	font-weight: 200;
	font-size: 60px !important;
	line-height: 65px !important;
  	font-family: 'Open Sans', sans-serif;
}

.countdown span.countdown-period {
	color: #fff;
	display: block;
	font-weight: 200;
	font-size: 16px !important;
}



/*.twitter-share-button[style] { vertical-align: text-bottom !important; }*/
.fb-share-button span {
   top: -6px;
}




/*Profile Event*/
.event .profile-event .heading-xs {
	margin-top: 0;
	text-transform: uppercase;
}

.event .profile-event {
	background: #fff;
	padding: 10px 15px;
	margin-bottom: 2px;
}

.event .profile-event p {
	color: #999;
	margin-bottom: 5px;
}

.event .date-formats {
	color: #fff;
	float: left;
	text-align: center;
	background: #72c02c;
	margin: 7px 13px 0 0;
	padding: 7px 10px 4px;
}

.event .date-formats span {
	display: block;
	font-size: 22px;
	font-weight: 200;
	line-height: 25px;
}







.img-hover span {
  display: block;
  overflow: hidden;
  position: relative;
}

.img-hover span:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
}

.img-hover:hover span.info:after {
  background: rgba(0,0,0,0.3);
}

.img-hover img,
.img-hover span:after {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.img-hover:hover img {
  -transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.img-hover .info {
    left: 0;
    top: 180px;
    background: #fff;
    padding: 5px 15px;
    text-align: center;
    position: absolute;
}



#front-carousel {
    height: 300px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
#front-carousel .carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#front-carousel.carousel .item {
  height: 300px;
  background-color: #777;
}
#front-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  #front-carousel .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}





.carousel-indicators li.active {
        margin-right: 5px;
}



#owl-supporters {
    background: #FFF;
}

#owl-supporters .item{
    margin: 3px;
    height:100px;
}

#owl-supporters .item a{
    height:100px;
}


#owl-supporters .item img{
    margin-top:100px;
  display: block;
  width: 100%;
  height: auto;
   position: relative;
  top: 50%;
  transform: translateY(-50%);
}
